body{
    max-width: 450px;
    width: 350px;
    background-color: rgba(35, 231, 94, 0.705);
    background-image: url("s.jpg"); 
    background-repeat: no-repeat;
}
#head   
{ 
    height: 597px;
    background-image: url("chiken fry.jpeg"); 
    background-repeat: no-repeat;
    }