
#header   
{ 
    height: 400px;
    background-image: url("../img/ok.jpg"); 
    background-repeat: no-repeat;
    width: 100%;
    }

    body{
        max-width: 1024px;
        width: 90%;
        margin: 20px auto;
        height: 768px;
        color: ivory;
        }