body{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    background-color: #eaebb2;
    height: auto;
}
header{
    background-image:url("../imge/hoa-sen-nuoc-biec.jpg");
    background-repeat: no-repeat;
    background-size:1200px 350px;
    margin: 0;
    width: 100%;
    height:350px;
}
h1{
    color:rgb(45, 236, 39);
    font-family: Lobster;
    font-size: 60px;
    text-align:left;
    margin-top: 0px;
    padding-left: 10px;
    }
p.titi{
    color: rgb(239, 243, 10);
    text-align: center;
    padding-top: 30px;
    margin: 0;
    font-size:50px;
}
nav{
    background-color: black;
}
ul{
    text-align: center;
    padding-left: 16px;
    margin:0;
}
li{
    font-size: 14px;
    list-style: none;
    margin-right: 30px;
    display:inline-block;
}
a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 14px 16px
    }
    a:hover{
        background: #a51e9a;
        color: yellow;
        border-radius: 10px;
        font-size: 15px;
    }
h2{
    border-left: solid 10px rgb(24, 209, 18);
    border-bottom:double 9px rgb(2, 43, 8);
    margin-top: 30px;
    padding: 5px;
    color: #003399;
}
div.box1 img{
width: 580px;
height: 250px;
background-color: rgb(212, 42, 79);
padding: 10px;
}
.box1{
display:-webkit-flex;
}
div.box2 img{
    width:900px;
    height:450px;
    transform: rotate(-4deg);
    margin-left:70px;
    margin-top: 70px;
}
.text{
    font-size: 20px;
    margin-top:30px;
}
h2{
    color: cadetblue;
    margin-left: 20px;
    margin-top: 60px;
}
div.box3 img{
    width: 800px;
    height: 400px;
    margin-left: 20px;
}
.box3{
    display: flex;
}
div.box3 p{
    font-size:60px;
    margin:60px;
    color: rgb(138, 65, 23);
}
.box4{
    display: flex;
}
div.box4 img{
    width: 800px;
    height: 400px;
    margin: 20px;
}
div.box4 p{
    font-size:60px;
    margin-left: 60px;
    margin-top: 60px;
    color: rgb(23, 138, 23);
}
.box5{
    display: flex;
}
div.box5 img{
    width: 800px;
    height: 400px;
    margin: 20px;
}
div.box5 p{
    font-size:60px;
    margin-left: 60px;
    margin-top: 60px;
    color: rgb(138, 130, 23);
}
.boxt{
    margin-left: 20px;
}
div.box6 img{
    width: 400px;
    height: 400px;
}
.box6{
    display: -webkit-flex;
}
div.box6 p{
    margin-left: 60px;
    margin-top: 60px;
    color: rgb(111, 206, 16);
    font-size: 60px;
}
.box7{
    display: -webkit-flex;
}
div.box7 img{
    width:400px;
    height: 400px;
}
.boxf{
    margin-left: 20px;
    margin-top: 20px;
}
div.box7 p{
    font-size:20px;
    margin-left:20px;
    margin-top: 60px;
    color: rgb(15, 27, 2);
}
.box8{
    display: flex;
}
div.box8 img{
    width:900px;
    height:400px;
    margin: 20px;
}
.box9{
    display: -ms-flexbox;
}
div.box9 img{
    width:900px;
    height:400px;
    margin:10px;
}
.pagetop{
   position: fixed;
   right:40px;
   bottom: 20px;
   border-radius: 10px;
   background-color: rgb(26, 96, 226);
}
footer{
    width: auto;
    height:auto;
    background-color:#e9eb85;
}
.foot{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}