body{
max-width: 1200px;
width:90%;
margin: 0 auto;
background-color:  #c7e8ec;
}
header{
height:350px;
width:auto;
background-image: url("../img/inaka.jpg");
background-repeat:no-repeat;
background-size:1200px 350px;
margin: 0;
}
h1{
    color:rgb(45, 236, 39);
    font-family: Lobster;
    font-size: 60px;
    text-align:left;
    margin-top: 0px;
    padding-top:260px;
    }
section{
display:inline-flex;
}
nav{
    background-color:rgb(51, 56, 58);
    }
    ul{
    text-align: center;
    margin-top: 0;
    padding-left: 16px;
    list-style-type: none;
    }
    li{
    font-size: 14px;
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    }
a{
color: #ffffff;
text-decoration: none;
display: block;
padding: 14px 16px
}
a:hover{
    background: #1ea535;
    color: yellow;
    font-size: 15px;
}
div.nihon img{
width:450px;
height: 350px;
}
div.nihon p{
color:rgb(26, 29, 199);
margin-left: 25px;
}
footer{
    width: auto;
    height:auto;
    background-color :rgb(51, 56, 58);
}
.foot{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
section{
    background-color:white;
    padding:5px;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    margin: 10px;
    margin-left: 20px;
}
/*java*/
td{
    text-align: center;
    width:160px;
    height:150px;
    background-color:rgb(219, 213, 124);
 }
img{
    width:160px;
    height:150px;
    margin: 0 auto;
    margin-bottom:-8px;
 }
 .mainPic{
    text-align:center;
    width:650px;
    height:420px;
 }
 table{
     margin-left:20px;
 }
div.but{
    margin-top:-30px;
    margin-left:700px;
 }
div.box{
     margin-top: 20px;
 }
 h2{
    border-left: solid 10px rgb(3, 0, 10);
    border-bottom:  dotted 5px black;
    color:black;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 45px;
    font-size: 35px;
 }
 div.table{
     display: flex;
 }
 p.text{
     color: rgb(27, 2, 23);
     font-size:20px;
     padding-left: 20px;
     background-color: cornsilk;
     padding: 10px;
     border-radius:8px;
     width: auto;
     height:fit-content;
     margin: 10px;
 }