body{
max-width: 1200px;
width:90%;
margin: 0 auto;
background-color: rgb(240, 223, 199);
}
header{
height:350px;
width:1200px;
background-image: url("../img/inaka.jpg");
background-repeat:no-repeat;
background-size:1200px 350px;
margin: 0;
}
h1{
    color:rgb(45, 236, 39);
    font-family: Lobster;
    font-size: 60px;
    text-align:left;
    margin-top: 0px;
    padding-top:260px;
    }
section{
display:inline-flex;
}
nav{
    background-color:rgb(92, 8, 64);
    }
    ul{
    text-align: center;
    margin-top: 0;
    padding-left: 16px;
    list-style-type: none;
    }
    li{
    font-size: 14px;
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    }
a{
color: #ffffff;
text-decoration: none;
display: block;
padding: 14px 16px
}
a:hover{
    background: #1ea535;
    color: yellow;
    font-size: 15px;
}
div.nihon{
width:300px,
}
div.nihon img{
width:350px;
height: 250px;
background-color: #ffffff;
padding: 10px;
}
div.nihon p{
color: #1b1b03;
margin-left: 25px;
}
h4{
color: #1b1b03;
margin-left:25px;
margin-bottom: -10px;
}
footer{
    width: auto;
    height:auto;
    background-color :rgb(240, 206, 159);
}
.foot{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}