header{
background-image:url("../imgs/hinh15.jpg");
background-size:100% 400px;
background-repeat: no-repeat;
height: 150px;
text-align: center;
font-size: 35px;
padding-top:60px;
color: rgb(235, 117, 6);
}
.main{
display: flex;
height:auto;
}
nav{
background-color: rgb(99, 216, 128);

}
a{
text-decoration: none;
color: deeppink;
display: block;
padding: 14px 16px
}
a:hover{
background: white;
color: yellow;
}
ul{
	text-align: center;
	margin-top: 0;
	margin-bottom:-25px;
	padding-left: 16px;
	color: crimson;
	list-style-type: none;
}
li{
	display: inline-block;
	list-style: none;
	font-size: 20px;
	margin-right: 30px;
}
.main-contents{
background-color: rgb(227, 235, 243);
width:70%;
padding-left: 10px;
color: rgb(18, 18, 19);
}
p{
	background-color: rgb(161, 203, 236);
	margin-right: 10px;
	padding: 10px;
	border-radius: 10px;
}
td{
padding-top:35px;
padding-left:35px;
}
h2{
	font-size:20px;
	color: rgb(177, 238, 34);
	background-color: cadetblue;
	border-radius:5px;
	width:200px;
	margin-left: 40px;
	padding-left: 10px;
}
h3{
	color: rgb(22, 18, 1);
	margin-bottom:30px;
}
.hana{
	background-image: url("../imgs/hana2.jpg");
	width:408px;
	height:550px;
	border-radius:20px;
	margin-bottom:10px;
}
h6{
margin-right: 5px;
border-radius: 5px;
padding: 10px;
}
.Dao{
	background-image: url("../imgs/anhdao.jpg");
	width:350px;
	height:400px;
	background-attachment: inherit;
	background-repeat: no-repeat;
	background-position: right;
	border-radius:20px;
	margin-bottom:10px;
}
.fuji{
	background-image: url("../imgs/fujihana.jpg");
	width:700px;
	height:550px;
	background-attachment: inherit;
	background-repeat: no-repeat;
	background-position:left;
	border-radius:20px;
	margin-bottom:10px;
}
aside{
width: 20%;
}
.phai{
	background-color: rgb(169,197, 169);
	padding-top:20px;
}
h4{
	margin-left: 10px;
	padding-top: 10px;
}
.box1{
	background-image: url("../imgs/pasocon.jpg");
	background-position: center;
	background-size:200px 270px;
	width:200px;
	height: 270px;
	margin:-20px;
	border-radius: 10px;
	color: rgb(39, 17, 4);
	margin-bottom:-10px;
}
.box2{
	background-image: url("../imgs/pasocon1.jpg");
	background-position: center;
	background-size:200px 270px;
	width:200px;
	height: 270px;
	margin:-20px;
	border-radius: 10px;
	color: rgb(31, 3, 3);
}
.box3{
	background-image: url("../imgs/pasocon2.jpg");
	background-position: center;
	background-size:200px 270px;
	width:200px;
	height: 270px;
	margin:-20px;
	border-radius: 10px;
	color: rgb(31, 3, 3);
}

.trai{
	padding-top: 20px;
	padding-left:10px;
	background-color: rgb(169, 197, 169);
}
.link{
	background-image: url("../imgs/ao.jpg");
	background-size: 200px 270px;
	background-repeat: no-repeat;
	width:200px;
	height: 270px;
	border-radius: 10px;
	margin-top: 20px;
}
.CKG{
	background-image: url("../imgs/laptop.jpg");
	background-size:200px 200px;
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
.fuku{
	background-image: url("../imgs/bien.jpg");
	background-size: 200px 270px;
	background-repeat: no-repeat;
	width:200px;
	height: 270px;
	border-radius: 10px;
	margin-top: 20px;
}
@media screen and (max-width: 600px){
	.main{
	display: flex;
	flex-direction: column;
	}
	.main,nav,.main-contents,aside{
	width: 100%;
	}
}
.cuoi{
	background-color: rgb(62, 94, 30);
	width: 100%;
	height:100px;
}
.saigo{
	color: rgb(197, 81, 139);
	font-size:14px;
}
.cuoi div{
	text-align: center;
	padding-top: 20px;
}