
body{
max-width: 1024px;
width: 100%;
margin: 0 auto;
background-color: #f8e4ce;
}

h1{
color: #fff;
background-image: url("../images/amthuc.jpg");
background-repeat: no-repeat;
background-position: 50% 73%;
background-size:100%;
font-family: Lobster;
font-size: 60px;
text-align: center;
margin-top: 0px;
padding-top: 150px;
height: 150px;

}
div{
background-color: #8b4513;
}
a{
text-align: center;
margin-top: 0;
padding-left: 16px;
}
a{
font-size: 14px;
list-style: none;
margin-right: 40px;
display: inline-block;
padding: 10px 0px;
}
a{
color: #ffffff;
text-decoration: none;
}
h2{
border-left: solid 10px #ffa500;
border-bottom:  dotted 5px #ffa500;
margin-top: 30px;
padding: 5px;
}
section{
margin-bottom: 50px;
}

.about{
display: flex;
}
.about p{
width: 690px;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.about img{
width: 20%;
height: 20%;
min-width: 150px;
}

.photo p{
margin-top: 15px;
margin-left: 30px;
}
.photo-box{
display: flex;
margin-left: 30px;
}
.box{
margin-left: 65px;
}
h3{
font-size: medium;
}
.big img{
width: 86%;
padding: 3px;
margin-top: 23px;
background-color: #fff;
transform:rotate(-6deg)
}
.big h3{
margin-top: 35px;
}
.small img{
width: 65%;
padding: 4px;
background-color: #fff;
transform:rotate(26deg)
}

.price-table{
display: flex;
margin-left: 25px;
}
th{
background-color: #ccc;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 30px;
}
/* 　アクセス　*/
.access{
display: flex;

}
.access p{
margin-left: 15px;
margin-top: 0;
}
.map-title{
font-family: Lobster;
font-size: 32px;
margin-bottom: 15px;
}
.pagetop{
position: fixed;
right: 40px;
bottom: 20px;
background-color: rgba(100,100,100,0.5);
padding: 0 10px;
}

/***slider***/

*{
    margin: 0;
    padding: 0;
  }
  
  .slide{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 12px;
    border-radius: 10px;
    position: relative;
  }
  .slide:hover .dieuhuong{
    display: block;
  }

  .chuyen-slide{
    width: 9999px;
    transition: all 0.5s;
  }
  img{
    width: 1000px;
    height: 400px;
    float:left;
  }
  .dieuhuong{
    position: absolute;
    color: white;
    font-size: 40px;
    top: 48%;
    padding-left: 20px;
    display: none;
  }
  .dieuhuong i:last-child{
    position: relative;
    left: 880px;
  }
/***menu da cap***/
* {
  margin:0px;
  padding:0px;
}
.clearfix:after {
  display:block;
  clear:both;          
}
.wrapper {
  width:100%;
  box-shadow:0px 1px 3px rgba(0,0,0,0.2); 
  background:#3e3436;
  height: 42px;
}

/*----- Phần menu -----*/
.menu {
  width:1024px;
  margin:0px auto;
  background:#bf5c71;
  height: 42px;
  margin-top: 12px;
}
.menu li {
  margin:0px;
  list-style:none;
  font-family:'asolute';
}
.menu a {
  transition:all linear 0.15s;
  color:#919191;
  text-decoration:none;
}
.menu li:hover > a, .menu .current-item > a {
  text-decoration:none;
  color:#be5b70;
} 
.menu .arrow {
  font-size:11px;
  line-height:0%;
} 
/*----- css cho phần menu cha -----*/
.menu > ul > li {
  float:left;
  display:inline-block;
  position:relative;
  font-size:19px;
}
.menu > ul > li > a {
  padding:10px 50px;
  display:inline-block;
  color:white;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
  background:#2e2728;
}
/*----css cho menu con----*/
.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
}
.sub-menu {
  width:160%;
  padding:5px 0px;
  position:absolute;
  top:100%;
  left:0px;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;
}
.sub-menu li {
  display:block;
  font-size:16px;
}
.sub-menu li a {
  padding:10px 30px;
  display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a {
  background:#3e3436;
}
