body{
max-width: 1024px;
margin:0 auto;
background-color: rgb(232, 255, 102);
}
header{
text-align: center;
background-image: url("../img/7.jpg");
background-size:1024px 360px;
background-repeat: no-repeat;
}
header h3{
color:yellow;
font-family:'Times New Roman', Times, serif;
font-size: 80px;
text-align: center;
margin: 0;
height: 355px;
}
nav{
background-color: #8b4513;
}
ul{
text-align: center;
margin-top: 0;
padding-left: 16px;
}
li{
font-size: 14px;
list-style: none;
margin-right: 30px;
display: inline-block;
padding: 10px 0px;
}
a{
color: #ffffff;
text-decoration: none;
}
h2{
border-left: solid 10px #ffa500;
/*border-bottom:  dotted 5px #ffa500;*/
font-family:'Times New Roman', Times, serif;
margin-top: 30px;
padding: 5px;
color: #3318cc;
font-size: 35px;
}
section{
margin-bottom: 50px;
}
section.about{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width:100%;
    height:100%;
    display: flex;
}
section.txt{
    color: rgb(23, 32, 23);
    font-size: 20px;
}
.about img{
width: 20%;
height: 20%;
min-width: 150px;
}

.photo p{
margin-top: 15px;
margin-left: 30px;
}
.photo-box{
display: flex;
margin-left: 70px;
height: auto;
width: auto;
}
.box{
margin-left: 65px;
}
.big img{
width:300px;
height: 300px;
padding: 20px;
margin-top: 18px;
background-color: #fff;
transform:rotate(-6deg)
}
.big h3{
margin-top: 35px;
}
.small img{
width: 90%;
padding: 15px;
background-color: #fff;
}
div.TEXT img{
    width:550px;
    height:350px;
    margin:20px;
}
div.box h3{
color:yellow;
font-family:'Times New Roman', Times, serif;
font-size: 80px;
text-align: center;
margin: 0;
height: 355px;
}
div.big h3{
color:yellow;
font-family:'Times New Roman', Times, serif;
font-size:60px;
text-align: center;
margin: 0;
height: 355px;
}
