body{
max-width: 1024px;
width: 90%;
margin: 0 auto;
background-color: rgb(202, 65, 122);
}
header{
background-image: url("../img/8.png");
background-size:1024px 360px;
background-repeat: no-repeat;
}
h1{
color:greenyellow;
font-family: Lobster;
font-size:100px;
text-align: center;
margin: 0;
height: 355px;
}
nav{
background-color: #8b4513;
}
ul{
text-align: center;
margin-top: 0;
padding-left: 16px;
}
li{
font-size: 14px;
list-style: none;
margin-right: 30px;
display: inline-block;
padding: 10px 0px;
}
a{
color: #ffffff;
text-decoration: none;
}
h2{
border-left: solid 10px #ffa500;
/*border-bottom:  dotted 5px #ffa500;*/
margin-top: 30px;
padding: 5px;
}
section{
margin-bottom: 50px;
}

.about{
display: flex;
}
.about p{
width: 690px;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.about img{
width: 20%;
height: 20%;
min-width: 150px;
}

.photo p{
margin-top: 15px;
margin-left: 30px;
}
.photo-box{
display: flex;
margin-left: 70px;
height: auto;
width: auto;
}
.box{
margin-left: 65px;
}
.big img{
width:300px;
height: 300px;
padding: 20px;
margin-top: 18px;
background-color: #fff;
transform:rotate(-6deg)
}
.big h3{
margin-top: 35px;
}
.small img{
width: 90%;
padding: 15px;
background-color: #fff;
}

.price-table{
display: flex;
margin-left: 25px;
}
th{
background-color: #ccc;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 30px;
}
/* 　アクセス　*/
.access{
display: flex;
}
.access p{
margin-left: 15px;
margin-top: 0;
}
.map-title{
font-family: Lobster;
font-size: 32px;
margin-bottom: 15px;
}
.pagetop{
position: fixed;
right: 60px;
bottom: 20px;
background-color: rgba(100,100,100,0.5);
padding: 0 10px;
}

