body{
max-width: 1200px;
width:90%;
margin: 0 auto;
background-color: rgb(160, 240, 107);
}
header{
height:100%;
width: 100%;
background-image: url("../img/3.jpg");
background-repeat:no-repeat;
background-size: 100% 100%;
margin: 0;
}
h1{
    color:rgb(236, 236, 39);
    font-family: Lobster;
    font-size: 60px;
    text-align:left;
    margin-top: 0px;
    padding-top:120px;
    }
section{
display:inline-flex;
}
nav{
    background-color:rgb(7, 50, 53);
    }
    ul{
    text-align: center;
    margin-top: 0;
    padding-left: 16px;
    list-style-type: none;
    }
    li{
    font-size: 14px;
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    }
a{
color: #ffffff;
text-decoration: none;
display: block;
padding: 14px 16px;
}

.nihon{
display:flex;
}
div.nihon img{
width:800px;
height:400px;
background-color: #ee61c4;
padding: 10px;
}
div.nihon p{
color: #1b1b03;
margin-left: 25px;
}
h4{
color: #2e041c;
margin-left:25px;
margin-top: 60px;
font-size:50px;
}
.pagetop{
position: fixed;
right: 60px;
bottom: 20px;
background-color: rgb(183, 87, 202);
padding: 0 10px;
border-radius: 10px;
}
h2{
    color: rgb(13, 43, 20);
    margin-top: 100px;
    margin-bottom:20px;
}