body{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

header{
	height: 370px;
	background-image: url("../image/topimage.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;;
	background-color:lime
}
header#toppage{
	height: 590px;
	background-image: url("../image/topimage.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;;
	background-color:lime
}


.title{
	display: block;
}

h1{
	color:#f15409;
	font-family: 'SimSun';
	font-weight: 900;
	text-align: center;	
}
	h1#subtitle1{
	font-size: 80px;
	margin-left: 280px;
	margin-top:30px;
}
	h1#subtitle2{
	font-size: 80px;
	margin-left: 280px;
	margin-top:-50px;
}
	h1#maintitle{
	font-size: 70px;
	margin-left: 280px;
	margin-top:-50px;
}
	p#smalltitle{
	color:#030603
	font-size: 40px;
	margin-left:300px;
	margin-top:-50px;
}
	p#bigtitle{
	color:#1b5826;
	font-size:30px;
	margin-left:380px;
	font-family:bold;
	margin-top:-30px;
}
/* すべての商品　*/
	div.photo-box{


	margin:20px;
	font-family:bold;
}
.menu-photo{
	width: 400px;
	height: 380px;
	margin:15px;
	background-image: url("../image/image2.jpg");
	background-size: 100%;

}
/* 商品メニュー　*/
	.price-table{
	margin-left: 200px;
}
	th{
	background-color: #ccc;
}
td{
	background-color: #fff;
}
	th,td{
	border: solid 2px #5C5;
	
	padding:10px 60px;
}
.table-right{
	margin-left: 100px;

}

/* ドリンクメニュー　*/
	margin-top:20px;
/*　アクセス　*/
.address{
	display: flex;
	margin-left:100px;
	text-align:center;
}
.access{
	margin-left: 130px;	
}
footer{
    background-color: chocolate;
    width: 100%;
    height: 130px;
    position: relative;
    top: 70px;
    margin-bottom: 15px;
}
footer li{
	display: inline;
    list-style: none;
    padding-right: 30px;
}
.pagetop{
	float: right;
	font-size:20px;
}
#drink-photo1{
	width: 600px;
	height: 700px;
	background-image: url("../image/image15/16.jpg");
	margin:30px;
}
#drink-photo2{
	width: 600px;
	height: 700px;
	background-image: url("../image/image15/16.jpg");
	margin:30px;
}

.sociallink{
	text-align: center;
    position: absolute;
    left: 500px;
    top: 4px;
}
footer h5{
	font-style: italic;
    text-align: center;
    color: black;
    padding-top: 94px;
    font-size: 14px;
}