body{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
header{
	height: 500px;
	background-image: url("../image/image1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;;
	background-color:lime
}
header#toppage{
	height: 600px;
	background-image: url("../image/image1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;;
	background-color:lime
}

.title{
	display: block;
}

h1{
	color:white;
	font-family: 'SimSun';
	font-weight: 900;
	text-align: center;	
}
	h1#subtitle{
	font-size: 80px;
	margin-left: 250px;
}
	h1#maintitle{
	font-size: 70px;
	margin-left: 250px;
}
	p#smalltitle{
	color:#44ef51;
	font-size: 40px;
	margin-left:200px;
}
	p#bigtitle{
	color:#e00c0c;
	font-size:30px;
	margin-left:300px;
	margin-top:-10px;
	font-family:bold;
}
/* すべての商品　*/
	div.photo-box{


	margin:20px;
	font-family:bold;
}
#menu-photo{
	width: 400px;
	height: 300px;
	margin:20px;
	background-image: url("../image/image2.jpg");
	background-size: 100%;

}
/* 商品メニュー　*/
	.price-table{
	margin-left: 130px;
}
	th{
	background-color: #ccc;
}
td{
	background-color: #fff;
}
	table,th,td{
	border: solid 5px #656;
	
	padding:70px 240px;
}
.table-right{
	margin-left: 50px;

}

/* ドリンクメニュー　*/
	margin-top:20px;
/*　アクセス　*/
.address{
	display: flex;
	margin-left:130px;
	text-align:center;
}
.access{
	margin-left: 130px;	
}
footer{
    background-color: #7c7e7f;
    width: 100%;
    height: 130px;
    position: relative;
    top: 35px;
    margin-bottom: 15px;
}
footer li{
	display: inline;
    	list-style: none;
	padding-right: 20px;
	margin-left:65px;
	margin-top:40px;
}
.pagetop{
	float: right;
}
#drink-photo{
	width: 600px;
	height: 700px;
	background-image: url("../image/image15/16.jpg");
	margin:30px;
}
