body{
max-width: 1010px;
width: 90%;
margin: 0px auto;
background-color: pink;
}
header{
height:670px;
background-image: url("../image/image1.jpg");
background-size: 100%;
background-repeat: no-repeat;
}
h1{
color:white;
background-repeat: no-repeat;
background-position: 50% 73%;
font-family: 'SimSun';
font-weight: 900;
margin-top: 40px;
text-align: center;
}
h1#subtitle{
font-size: 30px;
}
h1#maintitle{
font-size: 58px;
}
p#smalltitle{
color: white;
font-size: 50px;
text-align: center;
}
#menu-photo{
width: 290px;
height: 270px;
margin:20px;
background-image: url("../image/image2.jpg");
background-size: 100%;
}
/* 商品メニュー　*/
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 50px;

}

/* ドリンクメニュー　*/
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 50px;

}
/*　アクセス　*/
.address ul li{
display: block;
}
