body{
max-width: 900px;
width: 90%;
margin: 0 auto;
background-color: #F1F8E0;
text-align: center;
}
header{
height: 500px;
background-image: url("../img/4.jpg");
background-color:0EB9C2;
background-size: 100%;
background-repeat: no-repeat;
}
h1{
color: #fff;
background-image: url("../img/8.png");
background-repeat: no-repeat;
background-position: 50% 73%;

font-family: helvetica;
font-size: 80px;
font-weight: 900;
text-align: center;
margin-top: 0px;
padding-top: 105px;
height: 245px;
}
}
ul{
list-style-type: none;
position: relative;
text-align: center;
margin-top: 0;
background-color:#F7FE2E;
}
ul li{
    color: salmon;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
ul li a:hover{
    background:red;
    color: black;
}
a{
color: #B40404;
text-decoration: none;
font-size:40px;
font-style:	normal;
font-weight:bold;
}
h2{
margin-top: 30px;
padding: 5px;
}
section{
margin-bottom: 50px;
}

.about{
display: flex;
}
.about p{
width: 690px;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.about img{
width: 20%;
height: 20%;
min-width: 150px;
}

.photo p{
margin-top: 15px;
margin-left: 30px;
}
.photo-box{
display: flex;
margin-left: 30px;
}
.box{
margin-left: 65px;
}
h3{
font-size: 16px;
margin-top: 0;
}
.big img{
width: 95%;
padding: 20px;
margin-top: 18px;
background-color: #fff;
transform:rotate(-6deg)
}
.big h3{
margin-top: 35px;
}
.small img{
width: 90%;
padding: 15px;
background-color: #fff;
}
/* ???i???j???[?@*/
.price-table{
display: flex;
margin-left: 25px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 30px;
}
/*?@?A?N?Z?X?@*/
.address ul li{
display: block;
}
