body{
	background-color: palegoldenrod;
	background-image: url('seoul.jpg');

}
header{
	display: flex;
}
header.header-top{
	display: block;
	text-align: center;
	line-height: 12px;
}
a{
	font-size: 14px;
}
h1{
	margin-bottom: 55px;
	text-align: center;
	color:purple;
    font-size:40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{ 
	text-align: center;
	color:purple;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
	width: 212px;
	
}
h3{
	text-align: center;
	color: purple;
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
	width: 130px;
	
}
p{
	text-align: justify;
    font-size: 20px;
    margin-left: 340px;
    width: 720px;
    font-family: cursive;
}
p.catch{
	text-align: center;
	font-size: 28px;
    margin-bottom: 30px;
}
.links{
	border-radius:10px;;
}
.links:hover{
	background-color:green;
}
footer{
	margin: 30px 0px;
	text-align: center;
	font-size: 12px;
}