* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.254em;
    margin: 0;
    padding: 0;
    background: black;
}
img{
    width: 350px;
}
#logo img{
   width: 400px;
   margin: -28px 264px;
}
#slogan h1{
    margin:0px 0px;
}
a {
    text-decoration: none;
    color: #3B8BBA;
}
a:hover,
a:visited {
    color: #265778;
}
#header{
    color: white;
    background-image: url("../img/thealley.jpg");
    z-index:-1;
    opacity: 0.4;
    position: absolute;
    width: 944px;
    padding: 160px 0px;
    text-align: bottom;
    background-position: 50% -2%;
    background-repeat: no-repeat;
    background-size:100%;
  
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: white;
}
p{
    color: white;
}
/*==Lên khung cho website==*/
#container {
    padding-left: 150px;
    position: relative;
    left: 0;
    width: 100%;
}
#menu {
    position: fixed;
    height: 100%;
    background-color: #79075c;
    width: 150px;
    left: 0;
}

/*==Trang trí menu==*/
#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu ul li {
    line-height: 2.9em;
    height: 2.9em;
}
#menu li a {
    display: block;
    color: #fff;
    padding: 0 1em;
    border-bottom: 1px solid rgb(175, 19, 19);
}
#menu li:hover {
    background-color: #476ac9;
}

/*==Trang trí khung content==*/
#content {
  padding: 1em 8em;
}
#header,
.call-to-action {
    text-align: center;
}

/*==Trang trí header của content==*/
#header{}
#slogan {
    color: rgb(241, 244, 247);
    font-size: 0.8em;
}

/*==Call to Action==*/
.call-to-action {
    padding: 1.5em 20%;
    background: black;
    border: 1px solid rgb(32, 15, 15);
    color: white;
}

/*==Chia cột phần content==*/
.row {
    overflow: auto;
    margin: 1.5em auto;
}
.row .col {
    float: left;
    width: 31.3333%;
    margin-right: 2.99%;
}
.row .col:last-child {
    float: right;
    margin-right: 0;
}
/* Style cho ảnh */
.row .col img {
    float: left;
    margin-right: 1em;
}
.about{
    display: flex;
    float: left;
    padding: 0px 25px;
}
.about p{
width:331px;
margin: 0px -1px;
line-height: 25px;
padding: 0px 11px;
text-align: center;
}
.about img{
width: 55%;
height: 50%;
min-width: 150px;
padding-top:0px;
margin: 0px 80px;
}
.about1{
    display: flex;
    float: left;
    padding: 0px 25px;
}
.about1 p{
width:331px;
margin: 0px -1px;
text-align: justify;
line-height: 25px;
padding: 0px 11px;
}
.about1 img{
width: 55%;
height: 50%;
min-width: 150px;
padding-top:0px;
margin: 0px 80px;
}
.pagetop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: rgba(250, 243, 243, 0.911);
    padding: 0 10px;
    border-radius: 5px;
}
.pagetop :hover {
    background-color: red;
    color: rgba(7, 7, 7, 0.877);
}

.access{
    display: flex;

}
.access p{
    margin-left: 15px;
    margin-top: 0;
}
.map-title{
    font-family: Lobster;
    font-size: 32px;
    margin-bottom: 15px;
}

/*==Footer==*/
#footer {
 text-align: left;
}
#footer1 {
    font-size: 85%;
    border-top: 1px solid rgba(7, 7, 7, 0.877);
    color: #5c0a0ae3;
    padding: 43em 3em;
    margin: 0px 0px;
    margin-right: 0px 0px;
}