body{
	width: 1024px;
	margin: 0 auto;
	background-image: url("image/topimage.png");
	background-repeat: no-repeat;

}
h1{
	font-size: 40px;
	margin-top: 0px;
}
#catch{
	font-size: 17px;
	margin-bottom: 0px;
}