body{
  width: 100%;
  margin: 0 auto;
  background-color: #b7274273 ;
  font-family: Arial, Helvetica, sans-serif;
}

#header{
  color: #fff;
  height:300px;
  border:green thin solid;
  background-image: url("../anh/anhto.jfif");
  background-size:cover;
  background-position: center center;
  padding-top:40px;
  color:red;
}
h2{
  border-bottom:#ffff00 double 5px;
  font-style: italic;
  font-size:35px;
  color:yellow;
  margin: 0px 20px;
}
h3{
  color: red;
  font-size: 15px;
  margin: 0px 20px;
  text-align: center;
}

.small img{
width:420px;
text-align: center;
margin: 0px 456px;
}
.small p{
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
 
/*==Style cơ bản cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}
 
/*==Style cho menu===*/
#menu ul {
  background:red;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  padding: 0px 105px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
/*******/
.price-table{
  display: flex;
  margin-left: 25px;
}
th{
  background-color: orange;
}
td{
  background-color: yellow;
}
table,th,td{
  border: solid 1px #ff0000;
  border-collapse: collapse;
  padding: 5px 48px;
  color:red;
  margin: 15px 135px ;
}
.table-right{
  margin-left: 30px;
}
.pagetop{
  position: fixed;
  right: 60px;
  bottom: 20px;
  background-color: rgba(100,100,100,0.5);
  padding: 0 10px;
}
.about{
  display: flex;
}
.about p{
  margin: 0px 20px;
}
.about img{
  margin: 0px 20px;
  width: 70%
}







