body{
  width: 100%;
  margin: 0 auto;
  background-color: #b7274273 ;
  font-family: Arial, Helvetica, sans-serif;
}

#header{
  color: #fff;
  height:300px;
  border:green thin solid;
  background-image: url("../anh/anhto.jfif");
  background-size:cover;
  background-position: center center;
  padding-top:40px;
  color:red;
}
h2{
  font-style: italic;
  font-size: 35px;
  color: yellow;
  margin: 47px 20px 9px 20px;
}

h3{
  color: red;
  font-size: 15px;
  margin: 0px 20px;
  text-align: center;
}

.small img{
  width: 80%;
  margin-left: 10%;
}
.small p{
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
 
/*==Style c? b?n cho website==*/
body {
  font-family: sans-serif;
  color: #333;
}
 
/*==Style cho menu===*/
#menu ul {
  background:red;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 112px;
  height: 42px;
  line-height: 40px;
  padding: 0px 53px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
/*******/
.price-table{
  display: flex;
  margin-left: 225px;
}
th{
  background-color: orange;
}
td{
  background-color: yellow;
}
table,th,td{
  border: solid 1px #ff0000;
  border-collapse: collapse;
  padding: 5px 48px;
  color:red;
  margin: 15px 135px ;
}
.table-right{
  margin: 0px 20px;
}
.table-left{
  margin: 0px 20px;
}

.photo h3{
  margin: 20px 0px;
}
.pagetop{
  position: fixed;
  right: 60px;
  bottom: 20px;
  background-color: rgba(100,100,100,0.5);
  padding: 0 10px;
}
.about{
  display: flex;
}
.about p{
  margin: 0px 20px;
}
.about img{
  margin: 5px 20px;
  width: 70%
}
a.on_top {  
  display: none;
}
a.on_top a {  
  text-decoration: none;
}
a.on_top:hover{
  background-color:red;
  color:yellow;
  border: 1px solid red;
  opacity:1;
}
a.on_top i{ 
  font-size: 20px;
  margin-right: 3px;
  margin-top: 1px;
}
a.on_top {
  border-radius: 15px;
  background-color:yellow;
  padding: 9px 6px;
  white-space: nowrap;
  color: red;
  position: fixed;
  bottom: 9px;
  right: 5px;
  height: 24px;
  text-decoration: none;
}
.footer{
  margin: 20px 20px;
}
.map{
  margin-left: 470px;
  display: flex;
}




