body{
    max-width: 2000px;
    width:100%;
    margin: 0 auto;
    background-color:floralwhite ;
    text-align: center;
    
}
header{
    height:500px;
    background-image:url("../image/Bbakery.jpg");
    background-size:auto;
    background-repeat:no-repeat;
}
ul{
    list-style-type:none;
    background-color:#1E90FF;
    position: relative;
    text-align: center;
    margin-top: 0;
}
.box{
    margin-left: 100px;
}
#menu ul li{
    font-size: 20px;
    color:#f1f1f1;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a:hover{
    background:#C0FF3E;
    color:#333;
}
#menu1 ul{
    margin-right: 100px;
}

a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}
main {
    overflow: hidden;
}
fieldset{
    font-size: 90%;
    margin: 0;
    padding: 60px;
    border: 0;
    background: rgba(84, 67, 49, 0.05)
}
span{
    text-align: center;
    color: #c00;
}
dl{
    text-align: center;
    line-height: 1.6;
}
dd span{
    position: relative;
}
.inquiry dd {
    margin: 0;
    padding: 0;
}

/* định dạng cho button */
#myBtn {
  display: none; /* Mặc định button sẽ được ẩn*/
  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99; /* button được ưu tiên hiển thị đè lên các phần khác*/
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
 
#myBtn:hover {
  background-color: #555;
}

.copyright .sns a, .copyright .sns button {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 6px;
  text-indent: -9999em;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% auto;
}

.footer {
  text-align: center;
  margin-bottom: 0px;
  height: 241px;
  font-size: .875rem;
  color: #818181;
  background: #292929;
}

.socials-share {
  text-align: center;
  margin-bottom: 30px;
}

.socials-share a {
  padding: 4px 30px;
  color: #fff;
  line-height: 2em;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 4px;
}

.socials-share span.fa {
  margin-right: 3px;
}

.bg-facebook {
  background: #3a5899;
}

.bg-facebook:hover, .bg-facebook:focus {
  background: #1d418d;
}

.bg-twitter {
  background: #00acee;
}

.bg-twitter:hover, .bg-twitter:focus {
  background: #0b93c7;
}

.bg-email {
  background: #dd5348;
}

.bg-email:hover, .bg-email:focus {
  background: #ce3f34;
}