body{
    max-width: 2000px;
    width:100%;
    margin: 0 auto;
    background-color:floralwhite ;
    text-align: center;
    display: block;
    height: 100px;
    
}
header{
    height:435px;
    background-image:url("../image/Donut/pc.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}
ul{
    list-style-type:none;
    background-color:#1E90FF;
    position: relative;
    text-align: center;
    margin-top: 0;
}
.box{
    margin-left: 100px;
}
#menu ul li{
    color:#f1f1f1;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a:hover{
    background:#C0FF3E;
    color:#333;
}
#menu1 ul{
    margin-right: 100px;
}

#menu a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;}
table{
    position: relative;
    text-align: center;
    left: 300px;
}
caption{
    font-size: 30px;
    text-align: center;
}

.footer {
    text-align: center;
    margin-bottom: 0px;
    height: 241px;
    font-size: .875rem;
    color: #818181;
    background: #292929;
  }
  
  .socials-share {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .socials-share a {
    padding: 4px 30px;
    color: #fff;
    line-height: 2em;
    text-decoration: none;
    border-radius: 2px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .socials-share span.fa {
    margin-right: 3px;
  }
  
  .bg-facebook {
    background: #3a5899;
  }
  
  .bg-facebook:hover, .bg-facebook:focus {
    background: #1d418d;
  }
  
  .bg-twitter {
    background: #00acee;
  }
  
  .bg-twitter:hover, .bg-twitter:focus {
    background: #0b93c7;
  }
  
  .bg-google-plus {
    background: #db4437;
  }
  
  .bg-google-plus:hover, .bg-google-plus:focus {
    background: #bb2a1d;
  }
  
  .bg-pinterest {
    background: #cb1e26;
  }
  
  .bg-pinterest:hover, .bg-pinterest:focus {
    background: #ae0e15;
  }
  
  .bg-email {
    background: #dd5348;
  }
  
  .bg-email:hover, .bg-email:focus {
    background: #ce3f34;
  }
  .list .p-list{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin:100px;
    padding: 0;
}
.item{
    position: relative;
}
.list .item{
    width: 30%;
    margin: 30px 1%;
    text-align: center;
}
.list .img{
    position: relative;
    text-align: center;
}
.name{
    color: #e70909;
    font-size: 24px;
    margin:20px 0 10px;
    line-height: 30px;
    font-weight: bold;
}