body{
    max-width: 2000px;
    width:100%;
    margin: 0 auto;
    background-color:floralwhite ;
    text-align: center;
    
}
header{
    height:500px;
    background-image:url("../image/bakery.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}
ul{
    list-style-type:none;
    background-color:#1E90FF;
    position: relative;
    text-align: center;
    margin-top: 0;
}
.box{
    margin-left: 100px;
}
#menu ul li{
    color:#f1f1f1;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a:hover{
    background:#C0FF3E;
    color:#333;
}
#menu1 ul{
    margin-right: 100px;
}

a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}
img{
    width: 50%;
    height: 50%;
    vertical-align: middle;
    border-style: none;
}
section{
    margin-bottom: 50px;
    display:block;
}

.photo-box{
    display: flex;
    margin-left: 30px;
}
iframe{
    margin-right: 100%;
}
table{
    position: relative;
    left: 500px;
}
div{
    display: block;
}
.top{
    padding: 4% 0;
}
.top .text{
    background: #fff;
    padding: 30px 10px;
}
.container {
    padding: 0 10px;
}
.container img {
    max-width: 100%;
}
figure {
    margin: 0;
    text-align: center;
    display: block;
    text-align: center;
}
.top h2{
    font-size: 1.8rem;
}
h2 {
    text-align: center;
    display: table;
    table-layout: fixed;
    margin: 0 auto 1.5em;
    position: relative;
    border: 0;
    word-wrap: break-word;
    font-weight: normal;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 22px;
    font-size: 2.2rem;
    color: #a07e57;
}
p {
    width: 690px;
    margin: 0px 40px;
    text-align: justify;
    line-height: 25px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.more{
    display: block;
    overflow: hidden;
    margin: auto;
}
.more a {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: inline-block;
    letter-spacing: normal;
    text-align: center;
    border: 1px solid #544331;
    color: #544331;
    padding: 0.9em 1.3em 0.9em 1em;
    margin-bottom: 1px;
    text-decoration: none;
    min-width: 206px;
    font-size: 14px;
    font-size: 1.4rem;
    background: transparent;
}
.add{
    display: block;
    position: relative;
}

