body{
    max-width: 2000px;
    width:100%;
    margin: 0 auto;
    background-color:floralwhite ;
    text-align: center;
    display: block;
    
}
header{
    height:500px;
    background-image:url("../image/DT.jpg");
    background-size:100%;
    background-repeat:no-repeat;
}
ul{
    list-style-type:none;
    background-color:#1E90FF;
    position: relative;
    text-align: center;
    margin-top: 0;
}
.box{
    margin-left: 100px;
}
#menu ul li{
    color:#f1f1f1;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a:hover{
    background:#C0FF3E;
    color:#333;
}
#menu1 ul{
    margin-right: 100px;
}

a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}
table{
    position: relative;
    text-align: center;
    left: 300px;
}
caption{
    font-size: 30px;
    text-align: center;
}