body{
    max-width: 2000px;
    width:100%;
    margin: 0 auto;
    background-color:floralwhite ;
    text-align: center;
    
}
header{
    height:500px;
    background-image:url("../image/Bbakery.jpg");
    background-size:auto;
    background-repeat:no-repeat;
}
ul{
    list-style-type:none;
    background-color:#1E90FF;
    position: relative;
    text-align: center;
    margin-top: 0;
}
.box{
    margin-left: 100px;
}
#menu ul li{
    font-size: 20px;
    color:#f1f1f1;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
#menu ul li a:hover{
    background:#C0FF3E;
    color:#333;
}
#menu1 ul{
    margin-right: 100px;
}

a{
    color: #f1f1f1;
    text-decoration: none;
    display: block;
}
.text p{
    margin-left: 30px;
    padding-top: 5%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    display: flex;
}
.text img{
    width: 30%;
}
h2 {
    text-align: center;
    display: table;
    table-layout: fixed;
    margin: 0 auto 1.5em;
    position: relative;
    border: 0;
    word-wrap: break-word;
    font-weight: normal;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 22px;
    font-size: 2.2rem;
    color: #a07e57;
}
table{
    position: relative;
    text-align: center;
    left: 24%;
    margin-bottom: 50px;
}