body{
    max-width: 1024px;
    width: 90%;
    margin:30px auto;

}
#head{ 
    height: 597px;
    background-image: url("n.jpg");
    background-repeat: no-repeat;
    }
     h1 {
        
        color: rgb(16, 16, 17);
    }
    .nav {
        width: 1100px;
        height: 50px;
        margin: 0 auto;
        padding: 0;
        display: flex;
      }
      .nav li {
        position: relative;
        list-style: none;
      
      }
      .nav li a {
        display: block;
        width: 200px;
        height: 50px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: 2.8;
        background: #a152eb;
        text-decoration: none;
        border-right: 0px solid #eee;
        box-sizing: border-box;
      }

      
      .nav ul ul{
      position: relative !important;
      left: 100px !important;
      margin-top: -63px;
      z-index: 9999999;
     
      
      }
      
      .nav li ul {
        top: 40px;
        left: -40px;
        position: absolute;
      }
      .nav li ul li {
        overflow: hidden;
        height: 0;
      }
  
      }
      .nav li:hover > ul > li {
        overflow: visible;
        height: 40px;
      }
      























      .nav li:hover > ul > li {
        overflow: visible;
        height: 40px;
      }
      .page{
      position: absolute;
      right:60px;
      bottom:-400px;
      background-color:rgba(245, 9, 9, 0.5);
      padding: 0 10px;
      }
      #footer{
      position: relative;
      bottom: 0;
      width: 100%;
      height: 100px;
      }
;