body{
    max-width: 1024px;
    width: 90%;
    margin:0 auto;
    background-color: rgba(68, 231, 35, 0.705);
    border-bottom-color:  rgba(27, 27, 25, 0.705);
}
header{
  background-image: url("../img/n.jpg");
  height:350px;
  width:1024px;
  background-repeat:no-repeat;
  background-size:1024px 350px;
  margin: 0; 
  }
  nav{
    background-color: black;
}
ul{
    text-align: center;
    padding-left: 16px;
    margin:0;
}
li{
    font-size: 14px;
    list-style: none;
    margin-right: 30px;
    display:inline-block;
}
a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 14px 16px
    }
    a:hover{
        background: #a51e9a;
        color: yellow;
        border-radius: 10px;
        font-size: 15px;
    }

    h1{
      color:rgb(37, 37, 34);
      font-family: Lobster;
      font-size:20px;
      text-align:center;
      margin-top: 0px;
      padding-top:90px;
      }