body{
max-width: 1024px;
width: 90%;
margin: 0 auto;
background-color:rgba(10, 240, 221, 0.445);
}
header{
background-image: url("../anh/anh2.png");
background-size: 1024px 350px;
height:350px;
width: 1024px;
}
header img{
	margin-top: 70px;
} 
h1{
	margin-top: 22px;
    padding: 5px;
    color: #ff330f;
    font-size: 30px;
}		
nav{
background-color: rgb(68, 153, 51)
}
ul{
text-align: center;
margin-top: 0;
padding-left: 16px;
}
li{
font-size: 20px;
list-style: none;
margin-right: 30px;
display: inline-block;
padding: 10px 0px;
}
a{
color: #ffffff;
text-decoration: none;
}
h2{
margin-top: 15px;
padding: 5px;
color: #ffffff;
font-size: 21px;
font-weight: normal;
text-align: center;
background: #c4c111;
width: 1015px;
}
.abc{
	display: flex;
}
.abc p{
	margin-top: 0;
	margin-bottom: 0;
}
.abc1{
	width: 46%;
	height: 289px;
	margin-left: 15px;
}
.item1{
	width: 25%;
}
.box{
background-color:antiquewhite;
height: 390px;
}
.box p{
	margin-left: 10px
}
.item{
	width: 493px;
    height: 275px;
}
.box1{
	display: flex;
}
.item2{
	width: 326px;
    height: 253px;
}
.img{
	display: inline-block;
}
.big img{
margin: 0 30px 0 30px;
width: 60%;
height: 40%;
text-align: center;
float: left;
background-color:#fff;
padding: 30px;
}
.big3{
margin-top: 10px;
display: flex;
}
.photo-box img{

	width: 100%;
    height: 300px;
}
.big3 iframe{
	width: 434px;
	height: 200px;
}
.big3 table th{
	text-align: -webkit-auto;
	width: 85px;
	font-size: 20px;
}
.big3 table td{
	font-size: 20px;
}
.anh1{
	display: flex;
	margin-top: 25px;

}
.anh1 img{
	font-size: 90%;
	line-height: 1.6;
	background-color:white;
	padding: 10px;
	width: 283px;
	margin-left: 20px;
}
.anh2{
	display: flex;
	margin-top: 25px;
}
.anh2 img{
	font-size: 90%;
	line-height: 1.6;
	background-color:white;
	padding: 10px;
	width: 283px;
	margin-left: 20px;
	height: 170px;
}
.anh3{
	display: flex;
	margin-top: 25px;
}
.anh3 img{
	font-size: 90%;
	line-height: 1.6;
	background-color:white;
	padding: 10px;
	width: 283px;
	margin-left: 20px;
	height: 250px;
}
.big2{
	display: flex;
}
.big2 img{
	width: 372px;
	height: 202px;
}
.big2 p{
	margin-left: 20px;
	margin-top: 0;
}
/* 地図*/
.access{
display:flex;
}
.access p{
margin-left:50px;
}
.map-title{
font-family:Lobster;
font-size:60px;
margin-bottom:30px;
}
.ホームページ{
position:fixed;
right:60px;
bottom:50px;
background-color:rgba(100,100,100,0.5);
padding:0 30px;
}