body{
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    background-color:aqua;
    }
    header{
        float: left;
        width: 40%;
    }
    h1{
    color: #fff;
    background-image: url("../anh/anh1.png");
    background-repeat: no-repeat;
    
    background-size: 100%;
    font-family: Lobster;
    font-size: 160px;
    text-align: center;
    margin: 0;
    
    height: 355px;
    }
    ul{
    text-align: center;
    margin-top: 0;
    padding-left: 30px;
    }
    li{
    font-size: 30px;
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    padding: 10px 0px;
    }
    div{
        border: 3px solid azure
        padding 5px
    }
    .img{
        float: left;
    }
    section{
        margin-bottom: 20px;
        }
        .home{
        display: flex;
        }
        .home p{
            font-size: 20px;
            width: 690px;
            margin: 0px 40px;
            line-height: 25px;
            color: #000000;
            letter-spacing: 6px;
           
        }
        
        .home img{
        width: 30%;
        height: 30%;
        min-width: 100px;
        background-color: #ffffff;
        padding: 10px;
        }
        .about{
            display:inline-block;
            }
            .about p{
            width: 690px;
            margin: 0px 40px;
            text-align: justify;
            line-height: 25px;
            }
            .about img{
            width: 50%;
            height: 50%;
            min-width: 80px;
            }
            .small img{
                width: 50%;
                padding: 10px;
                background-color: #fff;
                }
                .imgsezi{
                    width: 100px;
                    float: left;
                }
                .price-table{
                display: flex;
                margin-left: 25px;
                }