body{
max-width: 1024px;
width: 90%;
margin: 0 auto;
background-color: #fffaf0;
}
#king img{
height: 300px;
width: 450px;
padding-left:250px;
padding-top: 20px;
display: flex;
}
.myform input{
padding:12px;
width: 100%;
height: auto;
float: left;
}
.myform{
width: 40%;
float: left;
height: auto;
margin-top: 30px;
padding: 15px;
}

.myform textarea{
padding:12px;
width: 100%;
height: auto;
float: left;
}
.myform .ius{
margin-top: 30px;
width: 30%;
float: left;
}
.uts{
width: 320px;
height: 250px;
margin-top: 70px;
margin-left: 37px;
}
.shruti{
text-align: right;
margin-top:100px;
padding:30px;
}
.utsa{
text-align: center;
text-decoration: none;
}
#head{
height: 400px;
background-image: url("../img/go.jpg");
background-repeat: no-repeat;
}

#head h1{
color: #fff;
font-family: -apple-system;
font-size: 70px;
text-align: center;
margin-top: 0px;
padding-top: 105px;
height: 245px;
}
#header{
height: 190px;
background-image: url("../img/go2.jpg");
background-repeat: no-repeat;
}
#header h1{
color: #fff;
font-family: -apple-system;
font-size: 30px;
text-align: center;
margin-top: 0px;
padding-top: 50px;
padding-left: 100px:;
height: 500px;
}



nav{
background-color: #04B431;
}
h2{
border-bottom:  dotted 5px #00ff00;
margin-top: 30px;
padding: 5px;
}
.nepal{
display: flex;
margin-top: 20px;
}
.nepal p{
width: 500px;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.nepal img{
width: 50%;
height: 50%;
min-width: 150px;
}
.comp{
height: fit-content;
}
.comp img{
height: 40%;
width: 70%;
padding-left: 143px;
margin-top: 18px;
background-color: #fff;
transform:rotate(6deg)
}

.mountain{
display: flex;
}
.mountain p{
width: 900px;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.comp a{
margin-top: 30px;
text-align: center;
text-decoration: none;
color: #000;

}
.nav {
  width: 1100px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;

}
.nav li a {
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 2.8;
  background: #336600;
  text-decoration: none;
  border-right: 2px solid #eee;
  box-sizing: border-box;
}
.nav > li:hover > a {/*layer-1*/
  color: orange;
  background: #2e8b57;
}
.nav > li li:hover > a {/*layer-2*/
  color: orange;
  background: #003300;
}
.anu{
padding: 40px;
}
.nav ul ul{
position: relative !important;
left: 100px !important;
margin-top: -50px;
z-index: 9999999;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
}
.nav li ul li a {
  border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
.page{
position: absolute;
right:60px;
bottom:-400px;
background-color:rgba(100,100,100,0.5);
padding: 0 10px;
}
#footer{
position: relative;
bottom: 0;
width: 100%;
height: 100px;
}