body{
max-width: 1024px;
width: 90%;
margin: 20px auto;
background-color: forestgreen;
height: 768px;
color: ivory;
}
body a{
  color: black;
  text-decoration: none;
  text-align: center;
}
p{
text-indent: 18px;
}
.dinesh{
text-align: center;
border-bottom: dashed 5px #312f2f;
font-size: 22px;
}
.dinesha{
  border-bottom: dashed 5px #312f2f;
  font-size: 25px;
  text-align: left;
  }
.myforms input{
  padding:12px;
  width: 100%;
  height: auto;
  float: left;
  }
  .myforms button{
    padding:12px;
    width: 100%;
    height: auto;
    float: left;
    }
  .myforms{
  width: 40%;
  float:none;
  height: auto;
  margin-top: 30px;
  padding: 15px;
  border: #000 1px solid;
  }
  .myforms textarea{
  padding:12px;
  width: 100%;
  height: auto;
  float: left;
  }
  .myforms .ius{
  margin-top: 17px;
  margin-right: -12px;
  width: 30%;
  float: right;
  }
.myform input{
padding:12px;
width: 100%;
height: auto;
float: left;
}
.myform button{
  padding:12px;
  width: 100%;
  height: auto;
  float: left;
  }
.myform{
width: 40%;
float: left;
height: auto;
margin-top: 30px;
padding: 15px;
}
.myform textarea{
padding:12px;
width: 100%;
height: auto;
float: left;
}
.myform .ius{
margin-top: 30px;
margin-right: -25px;
width: 30%;

float: right;
}
.ut{

  margin-top: 60px;
  margin-left: 70px;
  }
.uts{
width: 360px;
height: 250px;
margin-top: 60px;
margin-left: -41px;

}
.shruti{
text-align: right;
margin-top:100px;
padding:30px;
color: black;
}
.utsa{
text-align: center;
text-decoration: none;
}
#head{
height: 400px;
background:url("../img/utsav.jpg");

background-repeat: no-repeat;
}

#head h1{
color: #eee;
font-family:serif ;
font-size: 65px;
text-align: center;
margin-top: 0px;
padding-top: 55px;
height: 245px;
line-height: 60px;
}
#head h3{
  text-align: center;
  font-size: 40px;
  margin-top: -80px;
  color: antiquewhite;

}
#header{
height: 300px;
background: linear-gradient( rgba(0, 54, 146, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/utsav.jpg");

background-repeat: no-repeat;

}
#header h1{
color: #eee;
font-family: serif;
font-size: 57px;
text-align: center;
margin-top: 0px;
padding-top: 60px;
line-height: 61px;
}
#header h3{
  text-align: center;
  font-size: 25px;
  margin-top: -25px;
  color: antiquewhite;
}


nav{
background-color: forestgreen;
width: 22px;
margin-top: -258px;
}
#head nav{
  background-color: forestgreen;
  width: 22px;
  margin-top: 0px;
  }

h2{
margin-top: 30px;
padding: 5px;
color: #312f2f;
text-align: center;
}
.nepal{
display: flex;
margin-top: 20px;
}
.nepal p{
width: 500px;
margin: 0px 22px 0 0px;
text-align: justify;
line-height: 25px;
}
.nepal img{
  width: 100%;
  min-width: 150px;
  border-radius: 4%;
  border-color: black;
  margin: 0;
  }

.comp{
height: fit-content;
background-color: forestgreen;

}
.king{
height: fit-content;
}
.comp img{
height: 40%;
width: 70%;
padding-left: 0px;
margin: 65px 70px 0 90px;
background-color: #fff;
transform:rotate(6deg)
}

.mountain{
display: flex;
}
.mountain p{
width: 900px;
margin: 0px 20px;
text-align: justify;
line-height: 25px;
}
.comp a{
margin-top: 30px;
text-align: center;
text-decoration: none;
color: #000;

}
.nav {
  width: 1100px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;

}
.nav li a {
  display: block;
  width: 240px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 2.8;
  background: #336600;
  text-decoration: none;
  border-right: 0px solid #eee;
  box-sizing: border-box;
}
.nav > li:hover > a {
  color: orange;
  background: #2e8b57;
}
.nav > li li:hover > a {
  color: orange;
  background: #333a24;
}

.nav ul ul{
position: relative !important;
left: 145px !important;
margin-top: -73px;
z-index: 9999999;
columns: 2;
column-gap: 0px;

}

.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
}
.nav li ul li a {
  border: 2px solid #eee;
  
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
.page{
position: absolute;
right:60px;
bottom:-400px;
background-color:rgba(100,100,100,0.5);
padding: 0 10px;
}
#footer{
position: relative;
bottom: 0;
width: 100%;
height: 100px;
}
.king img {
height: 40%;
width: 55%;
margin: 40px 10px 30px 15px;
background-color: #fff;
border-radius: 30%;
border-color: black;
}
.king p{
width: 1000px;
margin: 20px 0px 0px 40px;
text-align: justify;
line-height: 25px;
}
.king{
display: flex;
}

.het{
  text-align: center;
  margin-top: 480px;
  margin-bottom: 40px;
  color: #000;
  font-family: cursive;
  font-size: 30px;
}
a:link {
  color: darkorange;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: aqua;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
p,h1,h2,a{
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 50%;
}

table, th, td {
  border: 2px solid greenyellow;
  margin-left: 270px;
  padding: 4px 0 4px 15px;
}
#devil{
  margin-top: 100px;
  color: black;
  text-align: center;
  font-size: large;
}
.myforms .stextarea{
  margin-top: -600px;
  margin-left: 500px;
  background-color: #333b2141;
border: #000;
font-size: 25px;
}
.mt{
  width: 50%;
  text-align: center;
}
div.form-group{
  margin-top: 100px;

}
* {box-sizing: border-box}
       
.mySlides {display: none}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #c05111f5;
  font-size: 30px;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #c50d0d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.queen p{
  width: 65%;

  float: right;
  margin: 15px 25px 0px 0px;
  text-align: justify;
  line-height: 28px;
  
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin:15px 0 10px 0;
}

#myImg:hover {
  opacity: 0.7;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
      -webkit-transform: scale(0)
  }

  to {
      -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
      transform: scale(0)
  }

  to {
      transform: scale(1)
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .modal-content {
      width: 100%;
  }
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background: #0b7dda;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}





footer{
  text-align: right;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: gold;
  width: 100%;
  height: 160px;
  position: relative;
  top: 13px;
  margin-bottom: 4px;
}
footer h5{
  text-align: right;
  padding-top: 70px;
}
footer li{
  display: inline;
  list-style: none;
  padding-right: 20px;
  display: inline;
}
.junge{
  position: absolute;
  left: 742px;
  top: 20px;
  text-align: right;
  color: #312f2f;
  display: inline;
}


