body{
max-width: 1024px;
width:90%;
margin: 0 auto;
background-color:rgb(73, 115, 139);
}
/*header#toppage{
height: 250px;
width: 1024px;
background-image: url("../image/image1.jpg");
background-size:1024px 250px;
background-repeat: no-repeat;
}
*/
header{
height:300px;
width: 1024px;
background-image: url("../image/image20.jpg");
background-size:1024px 300px;
background-repeat: no-repeat;

margin-bottom: 0px;
}

	.uts{
		color:red;
background-repeat: no-repeat;
background-position: 30% 60%;
margin: 30px 0px 0px 230px;
font-size: 30px;
height: 30px;
padding-top: 40px;
	}
	.utsa{
		color:red;
background-repeat: no-repeat;
background-position: 30% 60%;
margin: 30px 0px 0px 230px;
font-size: 30px;
height: 30px;
padding-top: 192px;
	}
	nav{
		background-color:rgb(51, 56, 58);
		}
		ul{
		text-align: center;
		margin-top: 0;
		padding-left: 16px;
		list-style-type: none;
		}
		li{
		font-size: 14px;
		list-style: none;
		margin-right: 30px;
		display: inline-block;
		}
	a{
	color: #ffffff;
	text-decoration: none;
	display: block;
	padding: 14px 16px
	}

}
#menu-photo{
width: 290px;
height: 270px;
margin:20px;
background-image: url("../image/image2.jpg");
background-size: 100%;
}
/* 商品メニュー　*/
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: ６0px;

}

/* ドリンクメニュー　*/
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 50px;

}
/*　アクセス　*/
.address ul li{
display: block;
}
.pagetop{
	float: center;
}
.kum{
	padding: 10px;
	margin-top: 20px;
}
.kuma img{
	padding: 20px 0 0 0;
	height: 347px;
	width: 806px;
}
.access{
	margin-left: 240px;
}
.home p{
	width: 55%;
	float: right;
}
.home img{
	padding: 10px 10px 10px 0;
}