body{
max-width: 1024px;
width: 90%;
margin: 0px 0 0 255px;
background-color:rgb(73, 115, 139);
}
header#toppage{
height: 150px;
background-image: url("../image/image1.jpg");
background-size: 85%;
background-repeat: no-repeat;
margin-bottom: 40px;
}

.header{
height:360px;
background-image: url("../image/image20.jpg");
background-size: 80%;
background-repeat: no-repeat;
margin-bottom: 40px;}
.head{
	height:200px;
	background-image: url("../image/image20.jpg");
	background-size: 80%;
	background-repeat: no-repeat;
	margin-bottom: 40px;}
	.uts{
		color:red;
background-repeat: no-repeat;
background-position: 30% 60%;
margin: 30px 0px 0px 230px;
font-size: 30px;
height: 30px;
padding-top: 40px;
	}
	.utsa{
		color:red;
background-repeat: no-repeat;
background-position: 30% 60%;
margin: 30px 0px 0px 230px;
font-size: 30px;
height: 30px;
padding-top: 192px;
	}
	nav{
	margin-left: -200px;
}
nav ul{
	display: flex;
	margin: 0px 0px 0px 158px;
}
nav ul li{
	list-style: none;
	margin-right: 15px;
	color: #fff;
	background-color: #17c7cc;
  padding: 0px 5px;
	width: 110px;
	text-align: center;
	border-radius: 5px
}
a{
	text-decoration: none;
  font-size: 12px;
  border-radius: 5px;


}
#menu-photo{
width: 290px;
height: 270px;
margin:20px;
background-image: url("../image/image2.jpg");
background-size: 100%;
}
/* 商品メニュー　*/
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: ６0px;

}

/* ドリンクメニュー　*/
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 50px;

}
/*　アクセス　*/
.address ul li{
display: block;
}
.pagetop{
	float: center;
}
.kum{
	padding: 10px;
	margin-top: 20px;
}
.kuma img{
	padding: 20px 0 0 0;
	height: 347px;
	width: 806px;
}
.access{
	margin-left: 240px;
}
.home p{
	width: 55%;
	float: right;
}
.home img{
	padding: 10px 10px 10px 0;
}