body{
width: 980px;
margin: 0 auto;
}
header{
background-image: url("images/topimage.jpg");
background-repeat: no-repeat;
background-position: 0px -150px;
background-size: 100%;
height: 455px;
}
h1{
font-family: serif, Batang;
font-weight: 900;
font-size:50px;
text-align:center;
margin-left: 318px;
height:70px;
border-bottom: #999 solid 1.5px;
display: inline-block;
}
header img{
margin: 30px 337px;
}
nav ul{
display: flex;

}
li{
list-style: none;
margin-right: 20px;
font-size: 12px;
}

/*　ライトアップ　*/

p.subpage{
font-size: 40px;
margin: 0px 20px;l
}