body{
max-width: 1110px;
width: 90%;
margin: 0 auto;
background-color: rgb(162, 882, 887);
}
header{
	width: 100%;
    height: 287px;
    background-image: url(../img/top-photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -130px;
    margin: 0;
}
h1{
color: rgb(38, 0, 255);
background-image: url("../img/photo1.png");
background-repeat: no-repeat;
background-position: 50% 73%;
font-family: Lobster;
font-size: 50px;	
text-align: center;
margin-top: 10px;
padding-top: 10px;
height: 500px;
}
nav{
background-color: #db13ba;
}
ul{
text-align: center;
margin-top: 0;
padding-left: 5px;
}
li{
font-size: 14px;
list-style: none;
margin-right: 30px;
display: inline-block;
padding: 10px 0px;
}
a{
color: rgb(8, 5, 31);
text-decoration: none;
}
h2{
margin-top: 20px;
padding: 10px 0px;
color: #ffffff;
font-size: 21px;
font-weight: normal;
line-height: 1.0;
background: #088dda;
}
section{
background-color: #ffffff;
padding: 10px;
}
div.box{
	display: flex;
}
div.box img{
	width: 650px;
	height: 450px;
	padding-left:15px;
}
div.box p{
	font-family: 'Times New Roman', Times, serif;
	color: #da087c;
	font-size:19px;
	padding-left:5px;
}
footer{
	margin-top: 30px;
	text-align: center;
}