/*==Reset CSS==*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    color: #333;
}
h1{
    text-align:center;
}

.nav ul {
    background: red;
    list-style-type: none;
    text-align: center;
  }
.nav li {
    color: #f1f1f1;
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
  }
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin:0px -4px;
    padding: 0px 0px;
}
.nav a:hover {
    background: #F1F1F1;
    color: #333;
  }