header h1{
background-color: #4169e1;
font-family: Algerian;
padding: 10px;
text-align: center;

}
nav ul{
background-color:#F1C40F;
display: flex;
margin: 0 auto;
list-style: none;

}
nav ul li{
padding-left: 100px;
}

header img{
width: 900px;
}
footer{
text-align:center;
}