｜ody{y
max-width: 1010px;

width: 90%;
margin: 90px auto;
background-color:white;
}
header{
height:380px;
background-image: url("../image/image1.jpg");

background-size: 100%;
background-repeat: no-repeat;
}
h1{
color:red;
background-repeat: no-repeat;
background-position: 50% 73%;
font-family: Lobster;
font-size: 60px;
text-align: 50px;
margin-top: 80px;
padding-top: 60px;
height: 245px;
}
#menu-photo{
width: 250px;
margin:20px;
background-image: url("../image/image2.jpg");
background-size: 100%;
}
/* 商品メニュー　*/ba
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 50px;

}

/* ドリンクメニュー　*/
.price-table{
displat:flex;
margin-left: 50px;
}
th{
background-color: #ccc;
}
td{
background-color: #fff;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 50px;

}
/*　アクセス　*/
.address ul li{
display: block;
}


}