(MENU)
wrapper{
  width:100%;
  margin: 0px auto;
  padding: 0px auto;
}
ul#menu li{
  float:left;
  background-color:black;
}
ul#menu li a{
  padding-right:101px;
  text-decoration:none;
  color:red;
  font-size: 14px;
  text-align:center;
  margin-left:95px;
}
ul#menu{
  float: left;
  padding: 0px 0px;
  margin: 0px 0px;
  list-style: none;
}