body{
width: 1022px;
margin: 0 auto;
}
header{
background-image: url("../anh1/k.jpg");
background-size:1024px;
height:300px;
}
div.container {
    width: 100%;
    border: 1px solid gray;
    background-color:#C7ffff ;
}
 
header, footer {
    padding: 1em;
    color: red;
    background-color: green;
    clear: left;
    text-align: center;
}
article {
    background-color:#C6E2FF ;
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.price-table{
display: flex;
margin-left: 25px;
}
th{
background-color: #FFCCCC;
}
table,th,td{
border: solid 1px #ff0000;
border-collapse: collapse;
padding: 5px 48px;
color:#007f7f;
}
.table-right{
margin-left: 30px;
}
/* 　アクセス　*/
.access{
display: flex;
}
.access p{
margin-left: 15px;
margin-top: 0;
}
.map-title{
font-family: Lobster;
font-size: 32px;
margin-bottom: 15px;
}
*<style*
body {
  font-family: Arial;
  margin: 0;
	background-color :white;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

h1{
border-bottom: 2px dotted;
}

td{
text-align:left;
}

/*nut page top*/

a.on_top {  
  display: none;
}
a.on_top a {  
  text-decoration: none;
}
a.on_top:hover{
  background-color: blue;
  color: #fff;
  border: 1px solid blue;
  opacity:1;
}
a.on_top i{ 
  font-size: 20px;
  margin-right: 3px;
  margin-top: 1px;
}
a.on_top {
  border-radius: 15px;
  background-color: #f30a0ae6;
  padding: 5px 6px;
  white-space: nowrap; color: #fff;
  position: fixed;
  bottom: 9px;
  right: 5px;
  height: 34px;
  text-decoration: none;
}
#footer {
    font-size: 100%;
    border-top: 1px solid rgba(7, 7, 7, 0.877);
    color: #070707e3;
    padding: 1em 3em;
    margin: 20px 73px;
} 
