body{
	background-color: #ccc;

}
header{
	height:350px;
	background-image: url("../image/sub-image.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	margin top :90px;
	background-color:green;

}
header#toppage{
	height:590px;
	background-image: url("../image/image22.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	margin top :100px;
	background-color:lime

}

.title{
	display: block;
}

h1{
	color:blue;
	font-family: 'SimSun';
	font-weight: 900;
	text-align: center;	
}
	h1#subtitle{
	font-size: 80px;
	margin-top:10px;
}
	h1#maintitle{
	font-size: 70px;
	margin-top:0px;
	margin-left: 280px;
}
	p#smalltitle{
	font-size: 40px;
	margin-left:300px;
	margin-top:0px;
	color:green;
}
#menu-photo{
	width: 290px;
	height: 270px;
	margin:20px;
	background-image: url("../image/image2.jpg");
	background-size: 100%;

}
/* 商品メニュー　*/
	.price-table{
	margin-left: 200px;
}
	th{
	background-color: #ccc;
}
td{
	background-color: #fff;
}
	table,th,td{
	border: solid 5px #5C5;
	border-collapse:collapse;
	padding:30px 60px;
}
.table-right{
	margin-left: -50px;

}

/* ドリンクメニュー　*/
	margin-top:200px;
	
.address{
	display: flex;
	margin-left:200px;
	text-align:center;
}
.access{
	margin-left: 130px;	
}
footer{
    background-color: white;
    width: 100%;
    height: 95px;
    position: relative;
    top: 60px;
    margin-bottom: 15px;
}
footer li{
	display: inline;
    list-style: none;
    padding-right: 20px;
}
.pagetop{
	float: right;
	font-size:20px;
}
.drink-photo{
	width: 400px;
	height: 350px;
	background-image: url("../image/image17.jpg");
	margin:30px;
}
.drink-photo1{
	width: 350px;
	height: 300px;
	background-image: url("../image/image19.jpg");
	margin:30px;
}
.drink-photo2{
	width: 400px;
	height: 350px;
	background-image: url("../image/image22.jpg");
	margin:30px;
}
footer{
	font-style: italic;
    text-align: center;
    color: black;
    padding-top:40px;
    font-size: 15px;
}