body{
	background-color: #ccc;

}
header{
	height:350px;
	background-image: url("../image/sub-image.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	margin top :90px;
	background-color:green;

}
header#toppage{
	height:590px;
	background-image: url("../image/image6.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	margin top :100px;
	background-color:lime

}

.title{
	display: block;
}

h1{
	color:blue;
	font-family: 'SimSun';
	font-weight: 900;
	text-align: center;	
}
	h1#subtitle{
	font-size: 80px;
	margin-top:10px;
}
	h1#maintitle{
	font-size: 70px;
	margin-top:0px;
	margin-left: 280px;
}
	p#smalltitle{
	font-size: 40px;
	margin-left:300px;
	margin-top:0px;
	color:green;
}
#menu-photo{
	width: 290px;
	height: 270px;
	margin:20px;
	background-image: url("../image/image2.jpg");
	background-size: 100%;

}
/* 商品メニュー　*/
	.price-table{
	display:flex;
	margin-left: 100px;
}
	th{
	background-color: #ccc;
}
td{
	background-color: #fff;
}
	table,th,td{
	border: solid 5px #656;
	border-collapse: collapse;
	padding: 10px 134px;
}
.table-right{
	margin-left: 50px;

}
/* tooltip */
.tooltip{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.tooltip p{
    margin:0;
    padding:0;
}
.description {
    display: none;
    position: absolute;
    padding: 110px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 200px;
}
.description:before {
    position: absolute;
    top: -24px;
    right: 60%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(180deg);
}
.tooltip:hover .description{
    display: inline-block;
    top: 30px;
    left: 0px;
}


/* ドリンクメニュー　*/
.price-table{
	display:flex;
	margin-left: 100px;
}
	th{
	background-color: #ccc;
}
	td{
	background-color: #fff;
}
	table,th,td{
	border: solid 5px #666;
	border-collapse: collapse;
	padding: 10px 134px;
}
.table-right{
	margin-left: 100px;

}
/*　アクセス　*/
.address{
	display: flex;
	margin-left:100px;
	text-align:center;
}
.access{
	margin-left: 100px;
	
}
footer{
	margin-left: 100px;
	top: 700px;
}
.pagetop{
	float: right;
}
#drink-photo1{
	width: 500px;
	height: 700px;
	margin:30px;
	background-size: 100%;
}
#drink-photo2{
	width: 500px;
	height: 700px;
	margin:30px;
	background-size: 100%;
}