body{
max-width: 1024px;
width: 90%;
margin: 0 auto;
background-color:rgba(3, 92, 70, 0.76);
}
header{
height: 300px;
background-image: url("../img/nepalikitchen.png");
width:1100px;
height:500px;
background-repeat: no-repeat;
}
h1{
color: rgb(248, 169, 10);
background-image: url("../img/.jpg");
background-repeat: no-repeat;
background-position: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 60px;
text-align: center;
margin-top: 0px;
padding-top: 65px;
height:200px;
}
nav{
background-color: rgb(3, 74, 83);
}