body{
max-width: 1024px;
width: 90%;
margin: 0 auto;
background-color: #00ffff;
}
#header{
height:400px;
background-repeat: no-repeat;
background-image: url("../images/momoghar-01.jpg");
}

h1{
color: #FE2E2E;
background-image: url("../img/.png");
background-repeat: no-repeat;
background-position: 50% 73%;
font-family: cursive;
font-size: 60px;
text-align: left;
margin-top: 00px;
padding-top: 265px;
padding-left: 20px;
height: 245px;
}
nav{
background-color: #ffff00;
}
ul{
text-align: center;
margin-top: 0;
padding-left: 16px;
}
li{
font-size: 16px;
list-style: none;
margin-right: 50px;
display: inline-block;
padding: 10px 0px;
}
a{
color: #000000;
text-decoration: none;
}
h2{
border-left: solid 10px #ffa500;
border-bottom:  dotted 5px #ffa500;
margin-top: 30px;
padding: 5px;
}
section{
margin-bottom: 50px;
}

.about{
display: flex;
}
.about p{
width: 690px;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.about img{
width: 20%;
height: 15%;
min-width: 300px;
min-height: 200px;
}

.photo p{
margin-top: 15px;
margin-left: 30px;
}
.photo-box{
display: flex;
margin-left: 30px;
}
.box{
margin-left: 65px;
}

.big img{
	width: 95%;
	padding: 20px;
	margin-top: 18px;
	background-color: #b22222;
	transform:rotate(-5deg)
	}
.big h3{
	width: 400px;
	height: 300px;
margin-top: 15px;
font-size: 14px;
}
.box h3{
	width: 400px;
margin-top: 15px;
font-size: 14px;
}
.small img{
	margin-top: 15px;	
width: 90%;
height: 230px;
padding:15px;
background-color: #b22222;
transform:rotate(-5deg)
}


/* �@�A�N�Z�X�@*/
.access{
display: flex;
}
.access p{
margin-left: 15px;
margin-top: 0;
}

.map-title{
font-family: Lobster;
font-size: 25px;
margin-bottom: 15px;
}
.pagetop{
position: fixed;
right: 60px;
bottom: 20px;
background-color: rgba(100,100,100,0.5);
padding: 0 10px;
}
#headerpicture{
    width:1020px;
    height: 400px;
}
.menu{
width: 1020px;
}
.map img{
    height: 300px;
    width: 378px;
}
.aaa{
	margin-top: 25px;
}
.aaa img{
	width:99%;
	height:200px;	
}
.aaa1 td{
	width: 400px;
}
.aaa2 th{
	color: blue;
	text-align: left;
	font-size: 17px;
	width: 392px;
}
.aaa3 td{
	color:#800000;
}
.div{
	font-size: 10px
}