td{
   width:200px;
   height:160px;
   background-color:rgb(223, 238, 223);
}
img{
   width:500px;
   height:350px;
   background-color: cornsilk;
   padding: 10px;
}
.mainPic{
   text-align:center;
   width:1000px;
   height:800px;
}
section{
   display: flex;
   margin:50px;
   padding:30px;
}  
body{
   max-width: 1200px;
   width: 90%;
   margin: 0 auto;
   background-color: rgb(179, 243, 208);
}