
body{
    background-color: blue;
    max-width: 1200px;
    width:90%;
    margin: 0 auto;

}
header{
    height:250px;
    width:auto;
    background-image: url("../image/p8.jpg");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding-left:400px;
    padding-top: 150px;
    }
    h1{
        color:rgb(236, 236, 39);
        font-family: Lobster;
        font-size: 60px;
        text-align:left;
        margin-top: 0px;
        padding-top:120px;
        }
    section{
    display:flex;
    }
    nav{
        background-color:rgb(7, 50, 53);
        }
        ul{
        text-align: center;
        margin-top: 0;
        padding-left: 16px;
        list-style-type: none;
        }
        li{
        font-size: 14px;
        list-style: none;
        margin-right: 30px;
        display: inline-block;
        }
    a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    }
div img{
    padding-left:35px;
    width: 300px ;
    height:300px;
}
div.photo{
    background-color: rgb(211, 221, 175);
    margin: 10px;
    padding: 10px;
}
.text1{
    color: rgb(21, 18, 202);
    margin: 10px;
    font-size: 20px;
}
.text2{
    color: rgb(21, 18, 202);
    margin: 10px;
    font-size:15px;
}