.news{
    width: 99%;
    height: auto;
    padding: 5px;
    background-color: #e97a7a80;
}
.article {
    width: 227px;
    height: 220px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    vertical-align:top;
}
.thumb {
    width: 227px;
    height: 177px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 