body{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  background-color: #f8e4ce;
}
#header h1{
  background-image: url("../images/s1.png");
  background-repeat: no-repeat;
  background-position: 50% 73%;
  background-size:100%;
  
}

h1{
  color: rgb(26, 25, 25);
  font-family: 'Lobster';
  font-size: 85px;
  text-align: center;
  margin-top: 0px;
  padding-top: 150px;
  height: 104px;
}

a{
  text-align: center;
  margin-top: 0;
  padding-left: 16px;
}
a{
  font-size: 14px;
  list-style: none;
  margin-right: 42px;
  display: inline-block;
  padding: 10px 0px;
}
a{
  color: #ffffff;
  text-decoration: none;
}
h2{
  border-left: solid 10px #e91e63;
  border-bottom:  dotted 5px #e91e63;
  margin-top: 30px;
  padding: 5px;
}
section{
margin-bottom: 50px;
}
/*phan menu tren*/
.table{
  background-color:#f4433630;
}
.about{
  display: flex;
}
.about p{
  width: 465px;
  margin: 0px 20px;
  padding: 0px 3px;
  text-align: justify;
  line-height: 25px;
  font-size: 15px;
}
.about img{
  width: 102%;
  height: 50%;
  margin: 0px 0px;
  padding: 0px 0px;
  min-width: 150px;
  padding-top:3px;
}
.about1{
  display: flex;
}
.about1 p{
  width: 464px;
  margin: 0px 20px;
  text-align: justify;
  line-height: 25px;
}
.about1 img{
  width: 60%;
  height: 44%;
  margin: 0px 9px;
  min-width: 150px;
  padding-top:3px;
}
.about2{
  display: flex;
  }
.about2 p{
  width: 290px;
  margin: 0px 20px;
  padding: 0px 0px;
  text-align: justify;
  line-height: 25px;
  font-size: 15px;
}
.about2 img{
  width: 113%;
  height: 50%;
  margin: 0px 0px;
  padding: 0px 0px;
  min-width: 150px;
  padding-top:3px;
}
 /* おすすめの料理*/
.mienbac{
  display: flex;
}
.mienbac p{
  width: 367px;
  margin: 0px 40px;
  text-align: justify;
  line-height: 25px;
}
.mienbac img{
  width: 143%;
  height: 44%;
  min-width: 150px;
  padding-top:3px;
}
.mientrung{
  display: flex;
}
.mientrung p{
  width: 690px;
  margin: 0px 40px;
  text-align: justify;
  line-height: 25px;
}
.mientrung img{
  width: 50%;
  height: 44%;
  min-width: 150px;
  padding-top:3px;
}
.miennam{
  display: flex;
}
.miennam p{
  width: 690px;
  margin: 0px 40px;
  text-align: justify;
  line-height: 25px;
}
.miennam img{
  width: 50%;
  height: 44%;
  min-width: 150px;
  padding-top:3px;
}
.anvat{
  display: flex;
}
.anvat p{
  width: 429px;
  margin: 0px 40px;
  text-align: justify;
  line-height: 25px;
}
.anvat img{
  width: 108%;
  height: 44%;
  min-width: 150px;
  padding-top:3px;
}


/* 　アクセス　*/

.access{
  display: flex;
  width: 1016px;
  height: 330px;

}
.access p{
  margin-left: 15px;
  margin-top: 0;
  }
.map{
  font-family: Lobster;
  font-size: 32px;
  margin-bottom: 15px;
  margin: 0px 20px;
}
.access iframe{
  width: 50%;
  height: 100%;
  margin: 0px 20px;
}
/*nut page top*/

a.on_top { 
  opacity:0.6; 
  display: none;
}
a.on_top:hover{
  background-color: #007bb6;
  color: #fff;
  border: 1px solid #007bb6;
  opacity:1;
}
a.on_top i{ 
  font-size: 20px;
  margin-right: 3px;
  margin-top: 1px;
}
a.on_top {
  border-radius: 15px;
  background-color: #f30a0ae6;
  padding: 9px 6px;
  white-space: nowrap; color: #fff;
  position: fixed;
  bottom: 9px;
  right: 5px;
  height: 24px;
}
    
    
/***slider***/
    
*{
  margin: 0;
  padding: 0;
}
      
.slide{
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 12px;
  border-radius: 10px;
  position: relative;
}
.slide:hover .dieuhuong{
  display: block;
}
    
.chuyen-slide{
  width: 9999px;
  transition: all 0.5s;
}
img{
  width: 1000px;
  height: 400px;
  float:left;
}
.dieuhuong{
  position: absolute;
  color: white;
  font-size: 40px;
  top: 48%;
  padding-left: 20px;
  display: none;
}
.dieuhuong i:last-child{
  position: relative;
  left: 880px;
}
    
/*----- Phần menu -----*/
.menu {
  width:1021px;
  margin:-11px auto;
  background:#bf5c71;
  height: 42px;
  margin-top: -2px;
}
.menu ul {
  list-style-type: none;
  text-align: center;
}
.menu li {
  list-style:none;
  font-family:'asolute';
}
.menu a {
  transition:all linear 0.15s;
  color:#919191;
  text-decoration:none;
}
.menu li:hover > a, .menu .current-item > a {
  text-decoration:none;
  color:#be5b70;
} 
    
/*----- css cho phần menu cha -----*/
.menu > ul > li {
  float:left;
  display:inline-block;
  position:relative;
  font-size:19px;
}
.menu > ul > li > a {
  padding:10px 50px;
  display:inline-block;
  color:white;
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
  background:#2e2728;
}
/*----css cho menu con----*/
.menu li:hover .sub-menu {
  z-index:1;
  opacity:1;
}
.sub-menu {
  margin: 0px 0px;
  padding:5px 0px;
  position:absolute;
  top:100%;
  left:0px;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;
}
.sub-menu li {
  display:block;
  font-size:16px;
  margin-left: 0 !important;
}
.sub-menu li a {
  padding:10px 22px;
  display:block;
  margin:0px 21px;
}
.sub-menu li a:hover, .sub-menu .current-item a {
  background:#3e3436;
}
/* sub-menu1 */
.menu li:hover .sub-menu1 {
  z-index:1;
  opacity:1;
}
.sub-menu1 {
  margin: 0px 0px;
  padding:10px 0px;
  position:absolute;
  text-align: 14px;
  top:100%;
  left:0px;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;
}
.sub-menu1 li {
  display:block;
  font-size:16px;
  margin: 0px 0px;
  padding: 0px 0px;
  margin-left: 0 !important;
}
.sub-menu1 li a {
  padding:10px 22px;
  display:block;
  margin:0px 21px;
}
.sub-menu1 li a:hover, .sub-menu1 .current-item a {
  background:#3e3436;
}
/* sub-menu2 */
.menu li:hover .sub-menu2 {
  z-index:1;
  opacity:1;
}
.sub-menu2 {
  margin: 0px 0px;
  padding:5px 7px;
  position:absolute;
  top:100%;
  left:0px;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  box-shadow:0px 2px 3px rgba(0,0,0,0.2);
  background:#2e2728;
}
.sub-menu2 li {
  display:block;
  font-size:16px;
  margin: 0px 0px;
  padding: 0px 0px;
  margin-left: 0 !important;
}
.sub-menu2 li a {
  padding:10px 22px;
  display:block;
  margin:0px 21px;
}
.sub-menu2 li a:hover, .sub-menu2 .current-item a {
  background:#3e3436;
}
/* address*/
.address{
  margin: 0px 20px;
}