body{
	width: 1024px;
	margin: 0 auto;
	background-color: rgba(225, 127, 0, 0.8);
}
header{
	background-image: url("写真/anh trang chu/2.jpg");
	background-repeat: no-repeat;
	height: 270px;
	display: flex;
	color: rgba(225, 225, 225, 0.9);
}
header img{
	width: 83%;
	height: 57%;
}
.nav1{
    display: flex;
    background-color: rgba(7, 225, 0, 0.9);
    height: 41px;
    margin-left: -336px;
    font-size: 12px;
}
.nav1 a{
	color: floralwhite
}
.nav1 li{
	list-style: none;
	font-size: 14px;
	display: inline-block;
	padding: 0px 16px 0px 0px;
	text-align: center;
}

h3{
	margin-bottom: 0px;
	border-left: solid 10px blue;
	border-bottom: dotted 5px blue;
	margin-top: 15px;
	font-size: 30px;
}
h2{
	margin-bottom: 0px;
	border-left: solid 10px blue;
	border-bottom: dotted 5px blue;
	margin-top: 15px;
	font-size: 30px;
}	
}
.lili{
	display: flex;
}
section{
	margin-top: 20px;
}
.lili img{
	width: 34%;
	height: 150px;
}
p.top-text{
	margin-top: 0px;
}
.aaa{
	margin-top: 25px;
}
.aaa img{
	width: 98%;	
}
.aaa1 td{
	width: 400px;
}
.aaa2 th{
	color: blue;
	text-align: left;
	font-size: 17px;
	width: 392px;
}
.aaa3 td{
	color: cornsilk;
}

.BBB{
	display: flex;
}
.bbb{
	padding: 10px 145px 20px;
}
.bbb th{
	text-align: center;
}
.bbb th{
	text-align: center;
}
.table-left{
	width: 300px;
}
.table-right{
	margin-left: -120px;
	width: 300px;
}
.ccc{
	height: 330px;
	width: 94%;
	margin-left: 55px;
}
.th{
	color: rgb(54, 42, 165);
	width: 300px;
}
.ddd img{
	width: 38%;
	height: 488px ;
	margin-left: 60px;
}

.ddd{
	display: flex;
}

.anh1{
	display: flex;
	margin-top: 25px;
}
.ddd table th{
	text-align: left;
}
.anh1 img{
	font-size: 90%;
	line-height: 1.6;
	background-color:white;
	padding: 10px;
	width: 282px;
	height: 235px;
	margin-left: 20px;
	margin-right: 20px;
}
.div1{
	margin-top: 35px;
	color: crimson;
}
.class1{
	display: flex;
	background-color: burlywood;
	margin-top: 25px;
}
.class1 img{
	width: 335px;
}
.class1 th{
	color: blue;
	text-align: left;
	font-size: 17px;
}
.td1{
	color: aliceblue;
	font-size: 20px;
}
