body{
    margin: 0;
    padding: 0;
}
header{
    height: 500px;
    background-image: url("images/top-image.jpg");
    background-repeat: no-repeat;
    background-position: -10px -44px;
    background-size: 980px;
    width: 980px;
}
h1{
    font-size: 70px;
    margin: 0;
}