body{
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    background-color: #FF6600;
    }
    header{
        text-align: center;
        font-size: 35px;
        padding-top:60px;
        color: rgb(27, 16, 5);
        background-image: url("../img/banner.jpg");
        background-size:1024px 360px;
        background-repeat: no-repeat;
}
nav{
    background-color: #8b4513;
    }
    ul{
    text-align: center;
    margin-top: 0;
    padding-left: 16px;
    }
    li{
    font-size: 14px;
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    padding: 10px 0px;
    }
section{
display:flex;
}
h1{
margin-bottom: 0;
}
div.animal{
width:300px,
}
div.animal img{
width:300px;
height: 200px;
background-color:#FF6600;
padding: 10px;
}
div.animal p{
width:300px;

}