body{
    max-width: 1024px;
    width: 90%;
    margin: -33px auto;
    background-color: darkkhaki;
    height: 768px;
    color: midnightblue;
    }
    #head{
        height: 400px;
        background:url("../image/image8.jpg");
        color: #020329;
        background-repeat: no-repeat;
        }
        
    

	h1#subtitle{
	font-size: 60px;
    text-align: center;
}
	h1#maintitle{
	font-size: 40px;
    text-align: center;
}
	p#smalltitle{
	font-size: 30px;
    color:green;
    text-align: center;
}
#menu{
    text-decoration: none;
    list-style-type: none;
    margin-top: 100px;
    display: flex;
    margin-left: -38px;
}
#menu li a{
    display: block;
    width: 170px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    color: #020329;
    border: 2px solid #020329;
    box-sizing: border-box;
    text-decoration: none ;
    background-color: blanchedalmond;
   
    
}
/* ????????i???j???[?@*/
	div.photo-box{

	margin:200px;
	font-family:bold;
}
.menu-photo{
	width: 260px;
	height: 185px;
	margin:px;
	background-image: url("../image/image2.jpg");
	background-size: 100%;
}
/* ???i???j???[?@*/
	.price-table{
	margin-left: 200px;
}
	th{
	background-color: #ccc;
}
td{
	background-color: #fff;
}
	th,td{
	border: solid 2px #5C5;
	
	padding:10px 60px;
}
.table-right{
	margin-left: -20px;

}

/* ?h?????N???j???[?@*/
	margin-top:20px;
/*?@?A?N?Z?X?@*/
.address{
	display: flex;
	margin-left:100px;
	text-align:center;
}

    .drink-photo{
        width: 340px;
        height: 320px;
        background-image: url("../image/image17.jpg");
        margin:30px;
    }
    .drink-photo1{
        width: 380px;
        height: 330px;
        background-image: url("../image/image19.jpg");
        margin:30px;
    }
	.drink-photo2{
        width: 380px;
        height: 330px;
        background-image: url("../image/image22.jpg");
        margin:30px;
}
	.drink-photo3{
        width: 380px;
        height: 330px;
        background-image: url("../image/image26.jpg");
        margin:30px;
}
	.drink-photo4{
        width: 400px;
        height: 380px;
        background-image: url("../image/image27.png");
        margin:30px;
}

	.drink-photo5{
        width: 380px;
        height: 330px;
        background-image: url("../image/image28.jpg");
        margin:30px;
}
	