body{
    max-width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
}

.menu{
    width: 1024px;
    margin: 0px auto;
    background-color:red;
    display: flex;
    float: left;
}
.menu ul{
    list-style: none;
    font-family:sans-serif;
    
}
.menu li {
    color: #f1f1f1;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
.menu a:hover {
    background: #F1F1F1;
    color: #333;
  }