body{
max-width:1200px;
width: 90%;
margin: 0px auto;
font-family: Arial, Helvetica, sans-serif;
background-color: #f1f3d6da;
}
h1{
color: #fff;
background-image: url("../anh/quancaphe.jpg");
background-repeat: no-repeat;
background-position: 36% 38%;
background-size: 124%;
font-family: Lobster;
font-size: 40px;
text-align: center;
margin: 0px;
padding-top: 150px;
height: 150px;
}
nav{
background-color: #8b4513;
}
ul{
text-align: center;
margin-top: 0;
padding-left: 16px;
}
li{
font-size: 14px;
list-style: none;
margin-right: 30px;
display: inline-block;
padding: 10px 0px;
}
a{
color: #ffffff;
text-decoration: none;
}
h2{
border-left: solid 10px #ffa500;
border-bottom:  dotted 5px #ffa500;
margin-top: 30px;
padding: 5px;
}
.photo p{
margin-top: 15px;
margin-left: 30px;
}
.photo{
    display: flex;
}
div.photo img{
width:580px;
height:350px;
padding-left: 20px;
}
.price-table{
    display: flex;
    margin-left: 25px;
    }
    th{
    background-color: #ccc;
    }
    td{
    background-color:#fff;
    }
    table,th,td{
    border: solid 1px #666;
    border-collapse: collapse;
    padding: 5px 48px;
    }
    .table-right{
    margin-left: 30px;
    }
.pagetop{
position: fixed;
right: 60px;
bottom: 20px;
background-color: rgba(100,100,100,0.5);
padding: 0 10px;
}
.photo h3{
 margin-left: 40px;
}
td{
    text-align: center;
    width:160px;
    height:150px;
    background-color:rgb(219, 213, 124);
 }
img{
    width:160px;
    height:150px;
    margin: 0 auto;
    margin-bottom:-8px;
 }
 .mainPic{
    text-align:center;
    width:650px;
    height:420px;
 }
 table{
     margin-left:20px;
 }