body{
	width: 980px;
	margin: 0 auto;
	background-color: #f8e4ce;
}
header#header{
	height: 123px;
	display: flex;
}
#header h1{
	font-size: 45px;
  margin-right: 25px;
}
.topimage{
	width: 980px;
	height: 500px;
	background-image: url("../img/topimage.jpg");
	background-repeat: no-repeat;
	background-size: 980px;
	background-position: -13px -131px;
}
