body{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	background-color:#778899;
	text-align: center;
}
header{
	height: 400px;
	background-image: url("../images/8.jpg");
	background-repeat: no-repeat;
	background-size:100%;	
}

ul{
	background-color:#2E8B57;
	list-style-type: none;
	text-align: center;
	margin-top: 0;
	position: relative;
}
#header ul li{
	color:#f1f1f1;
	display: inline-table;
	width: 120px;
	height:40px;
	line-height: 40px;
}
#header ul li a:hover{
	background: pink;
	color: #333;
}
#header ul{
	margin-right: 100px;
}
a{
	color: black;
	text-decoration: none;
	display: block;
}
.photo p{
	margin-top: 15px;
	margin-left: 30px;
}
.photo-box{
	display: flex;
	margin-left: 29px;
	
}
.box{
	width: 400px;
	margin-left: 65px;
}
.big6{
	font-size: 90%;
	line-height: 1.6;
	background-color:#fff;
	padding: 10px;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
}
.big img{
	font-size: 90%;
	line-height: 1.6;
	background-color:#fff;
	padding: 10px;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
}
.big h3{
	font-weight: 700;
    font-size: 18px;
    font-size: 1.3rem;
}
.price-table{
display: flex;
margin-left: 25px;
}
th{
background-color: #ddd;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 30px;
margin-top:0;
}
.table-left{
margin-left: 30px;
margin-top:0;
}
.photo1{
	display: flex;
	margin-top: 5px;
	margin-left: 5px;
}
.photo1 img{
	font-size: 90%;
	line-height: 1.6;
	background-color:#fff;
	padding: 10px;
	width: 300px;
}