body{
	background-image:url(背景.jp);
	width: 1024px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 16pt;
}
a{
	color: #ffffff;
}
h1{
	font-size: 40px;
	margin-top: -32px;
}
h2.title{
	font-size: 26px;
	color: #7a98e0;
	margin-left: 90px;

}
#catch{
	font-size: 17px;
	margin-bottom: 0px;
}
.text{
	background-color: rgba(108,108,108,0.3);
	margin-bottom: 80px;
	font-size: 18px;
	line-height: 40px;
}
.singleColumn{
	display: flex;
}