*{
	font-family: "メイリオ";
}

body{
    max-width: 1000px;
    margin: 0 auto;
    background-color: blanchedalmond;;
}
/* 
header#toppage pptitle{

*/
header .title{
	display: block;

}
/*
 header#toppage .title p{
 */
header .title p{
	margin-left: 357px;
}
h1{
	font-size: 50px;
	height: 34px;
	margin-top: 0px;
	width: 1000px;
	text-align: center;
	color: black;
}
h2{
	font-size: 18px;
	margin: 30px 0px 0px 20px;
	text-align:center;
}

a:link {color: #000000}
a:visited {color: #006600}
a:hover {color: #FFCC00}
a:active {color: #FF00CC}

nav ul {
	position: relative;
	list-style-type: none;
	display: flex;
	margin-left: 219px;
	margin-top: 30px;
  
}
nav li a {
	display: block;
	width: 100px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	color: black;
	text-decoration: none;
	border: 0px solid blue ;
	box-sizing: border-box;
}

.utsav{
    columns: 2;
    column-gap:0em;
	margin: 10px 0 -7px 40px;
}

.hello{
    columns: 2;
    column-gap:0em;
	margin: 40px;
	height: 263px;
}
.seeta{
	margin: 140px 0 0 100px;
}
.geeta{
	margin: 0 90px 0 0px ;
	float: right;
}
p{
	text-align:justify;
}

.activ{
	margin-left: 150px;
}
footer{
	margin-top: 50px;
}