body{
    font-family:tahoma;
    font-size: 13px;
    widows: 1000px;
    margin: 0px auto;
    

}

#menu_top {
    background:#141414;
    height:  40px;
}
#banner {
    height: 0px auto;
    width: 0px auto;
}

#main #left {
    width: 800px;
    background: #ccc;
    float: left;
    min-height: 0px auto;
}

#main #right {
    width: 200px;
    background: blue;
    min-height: 0px auto;
    float: left;

}
#footer {
        background: 000;
        width: 1000px;
        text-align: center;
        height: 60px;
        color: #FFF;
        clear: left;
        line-height: 60px;

}
#menu_top ul {
        margin: 0px;
        padding: 0px;
}
#menu_top ul li {
        list-style:  none;
        float: left;
}

#menu_top ul li a {
        text-decoration: none;
          display: block;
        height: 40px;
        line-height: 40px;
        color: #FFF;
        padding: 0px 20px 0px 20px;
        border-right: 1px solid #ccc;
}

#menu_top ul li a.aactive {
        background: #1949b5;

}
#banner img {
    width: 100%;
}
#map img{
    width: ;
    height: ;
}

#main #left ul {
        margin: 0px;
        padding: 0px;

}

#main #left ul li {
        list-style: none;
        clear: left;
        border-bottom: 2px solid #ccc;
        
}

#main #left ul li img {
        float: left;
        margin-right: 10px;


}
#main #left ul li h2 {
        font-size: 14px;
}