body{
    font-family:tahoma;
    font-size: 13px;
    widows: 1000px;
    margin: 0px auto;
}

h1{
        color: rgb(212, 109, 12);
        background-image: url("../images/htc.jpg");
        background-repeat: no-repeat;
        background-position: 50% 73%;
        font-family: Lobster;
        font-size: 60px;
        text-align: center;
        margin-top: 0px;
        padding-top: 105px;
        height: 245px;
        }
ul {
        font-family: Lobster;
        font-size: 30px;
}
#menu_top {
        font-family: Lobster;
        font-size: 30px;
    background:#6ab661;
    height:  40px;
}
#banner {
    height: 0px auto;
    width: 0px auto;
}

#main #left {
    width: 800px;
    background: #ccc;
    float: left;
    min-height: 0px auto;
}

#main #right {
    width: 200px;
    background: blue;
    min-height: 0px auto;
    float: left;

}
#footer {
        background: 000;
        width: 1000px;
        text-align: center;
        height: 60px;
        color: #FFF;
        clear: left;
        line-height: 60px;

}
#menu_top ul {
        margin: 0px;
        padding: 0px;
}
#menu_top ul li {
        list-style:  none;
        float: left;
}

#menu_top ul li a {
        text-decoration: none;
          display: block;
        height: 40px;
        line-height: 40px;
        color: #FFF;
        padding: 0px 20px 0px 20px;
        border-right: 1px solid #ccc;
}

#menu_top ul li a.aactive {
        background: #1949b5;

}
#banner img {
    width: 100%;
}
#map img{
    width: ;
    height: ;
}

#main #left ul {
        margin: 0px;
        padding: 0px;

}

#main #left ul li {
        list-style: none;
        clear: left;
        border-bottom: 2px solid #ccc;
        
}

#main #left ul li img {
        float: left;
        margin-right: 10px;


}
#main #left ul li h2 {
        font-size: 14px;
}
p {
        background:#cac715;
    height:  40px;
}
h1 {
        background:#6ab661;
    height:  autopx;
    width: autopx;
}
.price-table{
        display: flex;
        margin-left: 25px;
        }
        th{
        background-color: #ccc;
        }
        td{
        background-color: #fff;
        }
        table,th,td{
        border: solid 1px #666;
        border-collapse: collapse;
        padding: 5px 48px;
        }
        .table-right{
        margin-left: 30p
        }
        .pagetop{
                position: fixed;
                right: 60px;
                bottom: 20px;
                background-color: rgba(100,100,100,0.5);
                padding: 0 10px;
                border-radius: 10px;
                }