body{
width: 1024px;
margin: 10px auto;
}
header{
	height: 470px;
background-image: url("../img/topimage.jpg");
background-repeat: no-repeat;
background-position: 375px 0px;
display: flex;
}
h1{
font-size: 35px;	
}