body{
	width: 1024px;
	margin: 0px auto;
}
header{
	height:320px;
	background-image: url("../img/16image.jpg");
	background-size: 105%;
	background-repeat: no-repeat;
	background-position: -5px -69px;
	display: flex;
	margin-top :0px;
	background-color:#B66666;
	min-width: 730px;
}
h1{
	font-size: 40px;
	margin-left: 21px;
	color: #fff;
}
.title{
	display: block;
}
nav{
background-color: yellow;
	
}
nav ul {
	list-style-type: none;
    width: 554px;
    margin: 0 auto;
    padding: 0;
}
nav ul li{
    padding: 2px 35px 1px 35px;
    position: relative;
    font-size: 12px;
    display: inline;
    width: 200px;
    background-color: yellow;
    margin-left: 5px;
    text-align: center;
}

h1{
	color:black;
	font-family: 'SimSun';
	font-weight: 1000;
	text-align: center;
	font-size: 75px;
}

/*おすすめ*/
td#recomand{
padding-left: 29px;
}
td#recomand img{
	width: 300px;
}
td#recomand p{
margin-top: 0;
margin-bottom: 100px;

}
p#smalltitle{
	color:blue;
	font-size: 40px;
	margin-left:100px;
}
p#bigtitle{
	color:currentcolor;
	font-size:30px;
	margin-left:	0px;
	margin-top:100px;
	font-family:bold;
}
#menu-photo{
	width: 100px;
	height: 270px;
	margin:0px;
	background-image: url("../image/image2.jpg");
	background-size: 100%;

}
/* 商品メニュー　*/
	.price-table{
	display:flex;
	margin-left: 150px;
	border:solid 1px #000;
}
/*	th{
	background-color: #ccc;
}
td{
	background-color: #b9ad19;
}
*/
	table,th,td{
	width: 717px;
	padding-left: 0px;
}
.table-right{
	margin-left: -170px;

}

}


/* ドリンクメニュー　*/


/*　アクセス　*/
.address{
	display: flex;
	margin-left:100px;
	text-align:center;
}
.access{
	margin-left: 100px;
	
}
footer{
	position: relative;
    margin-left: 10px;
    top: 180px;
}
.pagetop{
	float: right;
}