body{
    width: 1024px;
    height: auto;
    margin: 0px auto;
    background-color: #282828;
}
header{
    width: 1024px;
    height: 105px;
    background-color: #6aa405;
    
    
}
header .logo1{
    height: 100px;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    width: auto;
    
}
header .logo2{
    position: absolute;
}
header .logo1 img{
    padding:0px 10px 0px 380px; 
}
header .logo2 img{
    padding:2px 0px 0px 380px;
    
}


.slider{
    width: 1024px;
    height: 402px;
    position: absolute;
    background-color: #ffffff;
}    
.banner{
    height: 400px;
    width: 1024px;
    background-color: #d2ced6;
    position: absolute;
    margin-top: 1px;
    margin-left: 0px;
}
.middlepart{
    height: 445px;
    width: 1024px;
    background-image: url("../images/mid_back.png");
    position: relative;
    top: 188px;
    z-index: 0;
}
.midpic{
    background-image: url("../images/midpic.png");
    height: 263px;
    width: 263px;
    position: relative;
    top: 400px;
    margin-left: 80px;
    z-index: 1;
}

.midpic2{
    background-image: url("../images/midpic.png");
    height: 263px;
    width: 263px;
    position: absolute;
    top: 505px;
    margin-left: 398px;
    z-index: 1;
}
.midpic3{
    background-image: url("../images/midpic.png");
    height: 263px;
    width: 263px;
    position: absolute;
    top: 505px;
    margin-left: 700px;
    z-index: 1;
}
.discription1{
    background-color: #ffffff;
    height: 285px;
    width: 300px;
    position: relative;
    top: 150px;
    left: 60px;
}
.discription2{
    background-color: #ffffff;
    height: 285px;
    width: 300px;
    position: absolute;
    top: 150px;
    left: 380px;
}
.discription3{
    background-color: #ffffff;
    height: 285px;
    width: 300px;
    position: absolute;
    top: 150px;
    left: 695px;
}
.secondmid{
    height: 325px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    top: 188px;
}
.secondmid1{
    background-color: #59c1f7;
    height: 300px;
    width: 300px;
    position: relative;
    top: 12px;
    left: 60px;
}
.secondmid2{
    background-color: #59c1f7;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 12px;
    left: 380px;
}
.secondmid3{
    background-color: #59c1f7;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 12px;
    left: 695px;
}
footer{
    background-color: #7c7e7f;
    width: 100%;
    height: 160px;
    position: relative;
    top: 180px;
    margin-bottom: 4px;
}