* {
  margin: 2px;
  padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.clearfix{
    clear: both;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
}
.header{
    border-bottom: 1px solid #333;
    padding: 10px 0px;
}
#logo{
    float:left ;
    height: 45px;
}
#logo img{
    height: 100%;
    width: auto;
}
ul#menu li{
    float: left;
}
ul#menu li a{
    padding: 12px 15px;
    text-decoration: none;
    color: red;
    font-size: 20px;
}
ul#menu{
    float: right;
    padding: 11px 0px;
    margin: 2px 0px;
}
ul li{
    list-style: none;
}
/* img*/
.img{
    width: 84%;
    margin: 0 auto;
}.img1{
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/nen1.jpg);
}
/* action*/
#header,
.action {
    text-align: center;
}
.action {
    padding: 1.5em 20%;
    background: white;
    color: black;
}
.action img{
    width: 960px;
    margin: auto;
}
h2{
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
    margin: 0px 160px;
}
.home{
    display: flex;
}
.home p{
    width: 465px;
    margin: 0px 110px;
    padding: 125px 3px;
    text-align: justify;
    line-height: 25px;
    font-size: 16px;
}
.home img{
    width: 121%;
    height: 100%;
    margin: 25px 35px;
    padding: 0px 0px;
    min-width: 150px;
    padding-top: 3px;
}
.about p{
    margin: 0px 167px;
    padding: 5px 0px;
}

div.img{
    height: 400px;
    background-image: url("../img/about.jpg");
    background-repeat: no-repeat;
}
div.home-img{
    height: 400px;
    width: 934px;
    margin-left: 200px;
    background-image: url("../images/brand.jpg");
    background-repeat: no-repeat;
}




.about img{
    margin: 0px 250px;
    padding: 10px 0px;
}
.home1{
    display: flex;
}
.home1 p{
    width: 465px;
    margin: 0px 110px;
    padding: 0px 3px;
    text-align: justify;
    line-height: 70px;
    font-size: 40px;
}
.home1 img{
    width: 125%;
    height: 100%;
    margin: -24px 55px;
    padding: 0px 0px;
    min-width: 150px;
    padding-top: 3px;
}
h3{
    color: red;
    margin: 150px 155px 0px 155px;
    font-size: 20px;
    padding: 5px;
}
#footer {
    font-size: 100%;
    border-top: 1px solid rgba(7, 7, 7, 0.877);
    color: #070707e3;
    padding: 1em 3em;
    margin: 20px 73px;
}
div{
    word-wrap: break-word;
}
/*bang*/
table, th, td{
    border:1px solid black;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
}
table{
    border-collapse:collapse;
    border-spacing: 0;
    margin-left: 163px;
}
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
.table-menu {
    text-align: center;
}
.table-bordered {
    border: 1px solid #ddd;
}
.red2 {
    color: #C3002F!important;
}
.map{
    display: flex;
}
/********ontop********/
a.on_top { 
  display: none;
}
a.on_top:hover{
  background-color:red;
  color: #fff;
  border: 1px solid red;
  opacity:1;
}
a.on_top i{ 
  font-size: 20px;
  margin-right: 3px;
  margin-top: 1px;
}
a.on_top {
  border-radius: 15px;
  background-color: black;
  padding: 9px 6px;
  white-space: nowrap;
  color:white;
  position: fixed;
  bottom: 9px;
  right: 5px;
  height: 24px;
  text-decoration: none;
}
