body{
    width:500px;
    margin:0 auto;
    padding:0;
}
header{
    height: 350px;
    background-image: url("../images/anu11.jpg");
    background-repeat:no-repeat;
    background-size: 500px;
    background-position: 5px -30Spx;
}
h1{
    font-size: 40px;
    color: #ffff00;
    margin:0px 10px;
    margin-left:10px;
}
p{
    color:blue;
    margin-left:10px;
    margin-top: 0px;
}
ul{
    display:flex;
}
li{
    list-style: none;
    margin-right: 35px;
}
a{
    text-decoration: none;
    color:#666;
}
header#subpage{
    height: 100px;
    background-position:0px 10px;
}