div.container {
    width: 100%;
    border: 1px solid gray;
background-color:#C7ffff ;
}
 
header, footer {
    padding: 1em;
    color: white;
    background-color: green;
    clear: left;
    text-align: center;
}
 
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    background-color:#C7ffff ;
}
 
nav ul {
    background-color:#C7ffff ;
    list-style-type: none;
    padding: 0;
}
    
nav ul a {
    
    text-decoration: none;
}
 
article {
    background-color:#C6E2FF ;
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.price-table{
display: flex;
margin-left: 25px;
}
th{
background-color: #FFCCCC;
}
table,th,td{
border: solid 1px #ff0000;
border-collapse: collapse;
padding: 5px 48px;
color:#007f7f;
}
.table-right{
margin-left: 30px;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #58257b}

button:active {
  background-color: #58257b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* 　アクセス　*/
.access{
display: flex;
}
.access p{
margin-left: 15px;
margin-top: 0;
}
.map-title{
font-family: Lobster;
font-size: 32px;
margin-bottom: 15px;
}
.pagetop{
position: fixed;
right: 60px;
bottom: 20px;
background-color: rgba(100,100,100,0.5);
padding: 0 10px;
}