td{
   text-align: center;
   width:200px;
   height:160px;
   background-color:rgb(235, 227, 227);
}
img{
   width:220px;
   height:160px;
}
.mainPic{
   text-align:center;
   width:1120px;
   height:480px;
}
body{
   max-width: 1200px;
   width: 90%;
   margin: 0 auto;
   background-color: rgb(233, 198, 233);
}
p{
   font-size: 14px;
}