body{
width: 860px;
margin: 0 auto;
background-color:#FFFFCC;
}
header{
background-image: url("../img/top-image.png"); 
background-repeat: no-repeat;
background-size: 100%;
height: 345px;
}
header img{
width: 370px;
margin: 17px 18px 30px 253px;
}
h1{
color: #fff;
font-family: Lobster;
font-size: 60px;
text-align: center;
margin-top: 0px;
padding-top: 105px;
height: 245px;
}
nav{
background-color: #8b4513;
}
ul{
text-align: center;
margin-top: 0px;
padding-left: 16px;
}
li{
font-size: 14px;
list-style: none;
margin-right: 30px;
display: inline-block;
padding: 10px 0px;
}
a{
color: #ffffff;
text-decoration: none;
}
h2{
border-left: solid 10px #ffa500;
border-bottom:  double 10px #0000ff;
margin-top: 30px;
padding: 5px;
}
section{
margin-bottom: 50px;
}

.about{
display: flex;
}
.about p{
width: 690px;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.about img{
width: 20%;
height: 20%;
min-width: 150px;
}

.photo p{
margin-top: 15px;
margin-left: 30px;
}
.photo-box{
display: table-cell;
margin-left: 30px;
}
.box{
margin-left: 65px;
}
h3{
?T?C?Y
????
}
.big img{
width: 95%;
padding: 20px;
margin-top: 18px;
background-color: #fff;
transform: rotate(-90deg)
}
.big h3{
margin-top: 35px;
}
.small img{
width: 90%;
padding: 15px;
background-color: #fff;
}

.price-table{
display: webkit-flex;
margin-left: 25px;
}
th{
background-color: #ccc;
}
table,th,td{
border: solid 1px #666;
border-collapse: collapse;
padding: 5px 48px;
}
.table-right{
margin-left: 30px;
}
/* ?@?A?N?Z?X?@*/
.access{
display: webkit-flex;
}
.access p{
margin-left: 15px;
margin-top: 0;
}
.map-title{
font-family: Lobster;
font-size: 32px;
margin-bottom: 15px;
}
.pagetop{
position: fixed;
right: 60px;
bottom: 20px;
background-color:hsla(0, 100%, 50%, 0.3);
padding: 0 10px;
}

