body{
width: 900px;
margin: 0 auto;
}
header{
display:flex;

}
header img{
width: 200px;
height: 50px;

}
ul{
display:flex;

}
li{

list-style: none;
}
section{
display:flex;.
}
h1{
margin-bottom: 0;
}
div.animal{
width:300px,
}
div.animal img{
width:300px;
}
div.animal p{
width:300px;

}