body{
    font-family: Tahoma;
    font-size: 13px;
    width: 700px;
    margin: 0px auto;
    background-color:#ade6e6;
}
header{

display: block;
}
*{margin: 0px; padding: 0px;}
.wrapper{
width:900px;
height: 180px;
background:#ade6e6;
margin: 0px auto;
display: flex;
}
.wrapper ul{
 list-style: none;
  display: flex;
  width: 700px;
}
.wrapper ul a {
  display: block;
  width: 118px;
  height: 29px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.8;
  background: #9fb7d4;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

/*　　1031　　*/

/*
.wrapper > li:hover > a {/*layer-1*/
  color: orange;
  background: #afc6e2;
}
*/

.wrapper > li li:hover > a {/*layer-2*/
  color: olive;
  background: #afc6e2;
  margin: 10px 20px 30px 40px;
}

/*  untill 1031 */


.wrapper li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.wrapper li ul li {
  overflow: hidden;
  height: 0;
}
.wrapper li ul li a {
  border-top: 1px solid #eee;
}
.wrapper li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
#banner {
  height: auto;
  width:1000px;
}
#footer {
  background: #000;
  width: 1000px;
  text-align: center;
  height: 60px;
  color: #fff;
  clear: left;
}
div.wrapper{
  width: 700px;
}