body{
max-width: 1024px;
width: 90%;
margin: 0 auto;
background-color:rgba(3, 92, 70, 0.76);
}
header{
height: 300px;
background-image: url("../img/nepalikitchen.png");
width:1100px;
height:500px;
background-repeat: no-repeat;
}
h1{
color: rgb(248, 169, 10);
background-image: url("../img/.jpg");
background-repeat: no-repeat;
background-position: center;
font-family: HG????E;
font-size: 60px;
text-align: center;
margin-top: 0px;
padding-top: 65px;
height:200px;
}
nav{
background-color: rgb(3, 74, 83);
}
ul{
text-align: center;
margin-top: 0;
padding-left: 16px;
}
li{
font-size: 14px;
list-style: none;
margin-right: 30px;
display:initial;
padding: 10px 0px;
}
a{
color: #ffffff;
text-decoration: none;
}
h2{
border-left: thick double #fffcfd91;
border-bottom:  thick double #32a1ce; 5px #fffcfd91;
margin-top: 30px;
padding: 5px;
}
section{
margin-bottom: 40px;
}
.about{
display: flex;
}
.about p{
width: auto;
margin: 0px 40px;
text-align: justify;
line-height: 25px;
}
.about img{
width:40%;
height: 35%;
min-width: 150px;
}
}
.photo p{
margin-top: 25px;
margin-left: 45px;
}
.photo-box{
display: flex;
margin-left: 30px;
}
.box{
margin-left: 65px;
}
h3{
?T?C?Y
????
}
.big img{
width: 35%;
padding: 20px;
margin-top: 18px;
background-color: #fff;
transform:rotate(-6deg)
}
.big h3{
margin-top: 35px;
}
.small img{
width: 90%;
padding: 15px;
background-color: #fff;
}


.access{
display: flex;
}
.access p{
margin-left: 15px;
margin-top: 0;
}
.map-title{
font-family: Lobster;
font-size: 32px;
margin-bottom: 15px;
}
.pagetop{
position: fixed;
right: 60px;
bottom: 20px;
background-color: rgba(100,100,100,0.5);
padding: 0 10px;
}
.pictureSize{
    width:200px;
}
.snackspic{
    width:300px;
}
.curry{
    display: flex;
    margin-left: 30px;
    }
    .box{
    margin-left: 65px;
    }
  
    .big img{
    width: 35%;
    padding: 20px;
    margin-top: 18px;
    background-color: rgb(56, 58, 55);
    transform:rotate(0deg)
    }
    .shadowbox {
        width: 10em;
        border: thick double #333;
        box-shadow: 4px 4 px 3px #444;
        padding:1px 3px;
        background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    }
   