#box1 img{
    width: 141%;
    padding:0px 0px;
    margin: 0px -29px;
}
#box2 img{
    width: 74%;
    padding:0px 13px;
    margin: 0px 62px;
}
#box3 img{
    width: 121%;
    padding:0px 10px;
    margin: 0px -17px;
}
#box4 img{
    width: 141%;
    padding:0px 0px;
    margin: 0px -29px;
}
#box5 img{
    width: 74%;
    padding:0px 13px;
    margin: 0px 62px;
}
#box6 img{
    width: 121%;
    padding:0px 10px;
    margin: 0px -17px;
}