#box1 img{
    width: 141%;
    padding:0px 0px;
    margin: 0px -29px;
}
#box2 img{
    width: 74%;
    padding:0px 13px;
    margin: 0px 62px;
}
#box3 img{
    width: 121%;
    padding:0px 10px;
    margin: 0px -17px;
}
#box4 img{
    width: 155%;
    padding:0px 0px;
    margin: 0px -39px;
}
#box5 img{
    width: 63%;
    padding:0px 23px;
    margin: 0px 78px;
}
#box6 img{
    width: 68%;
    
    margin: 0px 24px;
}
/****:thumb anh****/
.news{
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #e6e6e6;
}
.article {
    width: 210px;
    height: 220px;
    display: inline-block;
    padding: 5px;
    margin-left: 72px;
    vertical-align:top;
}
.thumb {
    width: 269px;
    height: 184px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/*****/
 