body{
background-color:rgb(245,245,245);
max-width:1200px;
width:90%;
margin: 0 auto;
}
header{
width:auto;
height:400px;
background-image: url("../img3/11.jpg");
background-repeat:no-repeat;
background-size: 100% 576px;
}
h1{
color:rgb(14, 14, 0);
font-family: Lobster;
font-size: 60px;
text-align:left;
margin-top: 0px;
padding-top:200px;
height:100%;
}
h4{
    border-left: solid 10px #c70d6a;
    border-bottom:double 5px #ff009d;
    margin-top:70px;
    padding: 5px;
    }
section{
display:flex;
}
nav{
    background-color:rgb(6, 69, 88);
    }
    ul{
    text-align: center;
    margin-top: 0;
    padding-left: 16px;
    list-style-type: none;
    }
    li{
    font-size:20px;
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    }
a{
color: #ffffff;
text-decoration: none;
display: block;
padding: 14px 16px;
}
a:hover{
    background: #0f9ec9;
    color: rgb(209, 21, 124);
}
.nihon{
display: flex;
background-color: rgb(70, 141, 70);
background-size: auto 300px;
border-radius: 5px;
padding:10px;
}
div.nihon img{
width:718px;
height:300px;
margin: 10px;
}
div.nihon p{
width:300px;
color: #f5f5f0;
}
.habox{
    display:inline-flex;
}
div.habox img{
    width:550px;
    height:400px;
    background-color: lightblue;
    padding: 10px;
    margin:5px;
}
.habox1{
    display:inline-flex;
}
div.habox1 img{
    width:550px;
    height:400px;
    background-color: rgb(177, 211, 26);
    padding: 10px;
    margin:10px;
    transform: rotate(6deg);
    margin-top:100px;
}
.habox2{
    display: inline-flex;
}
.habox3{
    display: inline-flex;
}
div.habox2 img{
    width:550px;
    height:400px;
    background-color: rgb(36, 175, 43);
    padding: 10px;
    margin:10px;
    transform: rotate(2deg);
    margin-top:100px;
}
div.habox3 img{
    width:550px;
    height:400px;
    background-color: rgb(182, 102, 37);
    padding: 10px;
    margin:10px;
    transform: rotate(4deg);
    margin-top:100px;
}
.text1{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
}

div.imgs img{
    width: 750px;
    height: 400px;
    margin:40px;
    background-color: rgb(238, 83, 168);
    padding: 10px;
    transform: rotate(-6deg);
}
.cuoi{
	background-color: rgb(212, 152, 192);
	width: 100%;
	height:100px;
}
.saigo{
	color: rgb(15, 1, 8);
	font-size:14px;
}
.cuoi div{
	text-align: center;
	padding-top: 20px;
}