/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
      width: 414px;
      height: auto;  
      background-color: #282828; 
      font-family: Arial, Helvetica, sans-serif, Verdana, Tahoma;

    }
    header{
        width: 414px;
        height: 100px;
        background-color: #74ccd0;
    }
    header .logo1{
        height: 100px;
        width: 400px;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    width: auto;
    padding-left: 78px;
    }



}