body{
width: 900px;	
margin: 0 auto;
background-color:powderblue;
}
.head{
background-image: url("images/images.jpg");
height: 500px;
background-repeat: no-repeat;

}
.image img{
height: 200px;
width: 200px;
}
h1{
	font-size: 30px;
	text-align: center;
	margin:50px;
	padding-top: 100px;
	color: black;
}
h2{
	font-size: 20px;
	margin-top: 100px;
	color: blue;
}
h3{
	font-size: 25px;
	margin-top: 15px;
	color: blue; 

}  
h4{
	font-size: 50px;
	margin-top: 150px;
	color: olive;
}
section img{
	height: 500px;
	width:900px;

}
section class image{
	height:900px;
	width:500px;
}
h2{
	border-none;
	border-bottom: dotted 5px; 
	margin-top:30px;
	padding:5px
}
#head{
	height:500px
	background image 

}
}

	
}
}
#{
	text-align: center
}
#leaf{
	text-align: center
}
#pokhara {
	text-align: center
}
.photo{
	float:left;
	padding: 15px;
}

/*  説明ページのCSS  */

.{
	font-size: 12px;
	width: 200px;
}